<div class="container">
  <section class="slider">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="slider__content">
          <div class="slider__content-heading developer-training-heading">
            <h1 class="heading-h1 slider__content-title">Developer Application Security Training</h1>
          </div>
          <div class="slider__content-description">
            <p class="sub-title">
              Train your development team to build secure software. Learn how to implement a Secure Development
              Lifecycle and fix security vulnerabilities before they come into existence.
            </p>
            <div class="slider__content-button">
              <a href="#GetPrecizeQuote" class="button button_primary button_large">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tablet-hide">
        <div class="row align-items-center justify-content-center">
          <div class="slider__image slider__image_developer-training">
            <img
              src="/public/images/trainings/developer/developer-training.svg"
              width="608"
              height="608"
              alt="Developer Application Security Training"
              title="Developer Application Security Training"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
