<section class="certificates container_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Our certificates</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="certificates__description body-text-2">
          <p>
            All mid- and senior level BSG professionals hold prestigious cybersecurity certifications and most are
            OSCP-certified. Our professional certificates independently prove an ability to provide expert-level
            application security, penetration testing, and security consulting services.
          </p>
        </div>
        <ul class="certificates__list">
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/oscp.png" width="48" height="48" alt="OSCP1" />
              <span class="tooltip__window">Offensive Security Certified Professional, OSCP1</span>
            </span>
          </li>
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/cissp.png" width="48" height="48" alt="CISSP" />
              <span class="tooltip__window">CISSP</span>
            </span>
          </li>
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/cisa.png" width="48" height="48" alt="CISA" />
              <span class="tooltip__window">CISA</span>
            </span>
          </li>
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/ewptx.png" width="64" height="48" alt="eWPTX" />
              <span class="tooltip__window">eWPTX</span>
            </span>
          </li>
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/emart.png" width="64" height="48" alt="eMART" />
              <span class="tooltip__window">eMART</span>
            </span>
          </li>
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/ecppt.png" width="64" height="48" alt="eCPPT" />
              <span class="tooltip__window">eCPPT</span>
            </span>
          </li>
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/ejpt.png" width="64" height="48" alt="eJPT" />
              <span class="tooltip__window">eJPT</span>
            </span>
          </li>
          <li>
            <span class="tooltip__container">
              <img src="/public/images/certificates/ceh.png" width="48" height="48" alt="CEH" />
              <span class="tooltip__window">CEH</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
