<section class="certificates container_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Our certificates</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="certificates__description body-text-2">
          <p>
            All mid- and senior level BSG professionals hold prestigious cybersecurity certifications and most are
            OSCP-certified. Our professional certificates independently prove an ability to provide expert-level
            application security, penetration testing, and security consulting services.
          </p>
        </div>
        <ul class="certificates__list">
          <li>
            <a
              href="https://www.offensive-security.com/courses-and-certifications/"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/oscp.png" width="48" height="48" alt="OSCP1" title="OSCP1" />
              <span class="tooltip__window">Offensive Security Certified Professional, OSCP</span>
            </a>
          </li>
          <li>
            <a
              href=" https://www.isc2.org/Certifications/CISSP"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/cissp.png" width="48" height="48" alt="CISSP" title="CISSP" />
              <span class="tooltip__window">(ISC)2 Certified Information Systems Security Professional, CISSP</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.isaca.org/credentialing/cisa"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/cisa.png" width="48" height="48" alt="CISA" title="CISA" />
              <span class="tooltip__window">ISACA Certified Information Systems Auditor, CISA</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.elearnsecurity.com/certification/ewptx"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/ewptx.png" width="64" height="48" alt="eWPTX" title="eWPTX" />
              <span class="tooltip__window">eLearnSecurity Web Application Penetration Tester, eWPTX</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.elearnsecurity.com/certification/emapt"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/emart.png" width="64" height="48" alt="eMART" title="eMART" />
              <span class="tooltip__window">eLearnSecurity Mobile Application Penetration Tester, eMAPT</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.elearnsecurity.com/certification/ecppt"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/ecppt.png" width="64" height="48" alt="eCPPT" title="eCPPT" />
              <span class="tooltip__window">eLearnSecurity Certified Professional Penetration Tester, eCPPT</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.elearnsecurity.com/certification/ejpt"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/ejpt.png" width="64" height="48" alt="eJPT" title="eJPT" />
              <span class="tooltip__window">eLearnSecurity Junior Penetration Tester, eJPT</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.eccouncil.org/programs/certified-ethical-hacker-ceh/"
              target="_blank"
              class="tooltip__container"
              rel="nofollow"
            >
              <img src="/public/images/certificates/ceh.png" width="48" height="48" alt="CEH" title="CEH" />
              <span class="tooltip__window">EC-Council Certified Ethical Hacker, CEH</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
