<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__logo">
            <img src="../src/img/logo_grey.png" alt="logo_grey">
        </div>
        <nav class="footer__menu">
            <ul>
                <span class="footer__menu-name">Services</span>
                <li><a href="">Application Security</a></li>
                <li><a href="">Penetration Testing</a></li>
            </ul>
            <ul>
                <span class="footer__menu-name">Training</span>
                <li><a href="">AppSec for Developers</a></li>
                <li><a href="">Professional Pentester Training</a></li>
            </ul>
            <ul>
                <span class="footer__menu-name">Company</span>
                <li><a href="">About BSG </a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Certificates</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
            <ul>
                <span class="footer__menu-name">Resources</span>
                <li><a href="">Blog</a></li>

            </ul>
        </nav>
        <div class="footer__copyright">
            <h5 class="footer__copyright-rights">© 2020 BSG. All rights reserved.</h5>
            <ul class="footer__copyright-menu">
                <li><a href="">Terms&Conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Sitemap</a></li>
            </ul>
            <ul class="footer__copyright-social">
                <li><a href=""><img src="../src/img/icons/twitter.png" alt="twitter"></a></li>
                <li><a href=""><img src="../src/img/icons/facebook.png" alt="facebook"></a></li>
                <li><a href=""><img src="../src/img/icons/linkedin.png" alt="linkedin"></a></li>
            </ul>
        </div>
    </div>
</footer>