<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__main-column">
        <div class="footer__main-image">
          <a href="/">
            <img src="../public/images/logo-white.svg" width="88" height="32" alt="Berezha" title="Berezha" />
          </a>
        </div>
        <div class="footer__main-image">
          <img src="../public/images/partials/footer/good-firm.png" width="120" height="36" alt="Good Firm" />
        </div>
        <div class="footer__main-image">
          <img src="../public/images/partials/footer/reviews.png" width="120" height="43" alt="Reviews" />
        </div>
      </div>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Services</h3>
        <ul class="footer__nav">
          <li><a href="#">Penetration Testing</a></li>
          <li><a href="#">Application Security Assessment</a></li>
        </ul>
      </nav>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Training</h3>
        <ul class="footer__nav">
          <li><a href="#">Web Application Pentester Training</a></li>
          <li><a href="#">Developer Application Security Training</a></li>
        </ul>
      </nav>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Company</h3>
        <ul class="footer__nav">
          <li><a href="#">About BSG </a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Resources</h3>
        <ul class="footer__nav">
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__secondary">
      <div class="footer__secondary-column">
        <p>© 2020 BSG. All rights reserved.</p>
      </div>
      <div class="footer__secondary-column">
        <ul class="footer__secondary-nav">
          <li><a href="#">Terms&Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="footer__secondary-column">
        <ul class="footer__social">
          <li>
            <a href="#">
              <img src="../public/images/icons/twitter.svg" height="16" width="16" alt="Berezha Twitter" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../public/images/icons/facebook.svg" width="16" height="16" alt="Berezha Facebook" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../public/images/icons/linkedin.svg" width="16" height="16" alt="Berezha Linkedin" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="/dist/main.js"></script>
