<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__main-column footer__main-column_images">
        <div class="footer__main-image footer__main-image_logo">
          <a href="https://clutch.co/profile/berezha-security-group" target="_blank">
            <img
              src="/public/images/partials/footer/Cybersecurity_Consultants_2021.png"
              width="100"
              height="108"
              alt="Berezha Clutch"
              title="Berezha Clutch"
            />
          </a>
        </div>
        <div class="footer__main-image">
          <div class="footer__main-image_clutch">
            <div
              class="clutch-widget"
              data-url="https://widget.clutch.co"
              data-widget-type="1"
              data-height="45"
              data-clutchcompany-id="428575"
            ></div>
          </div>
        </div>
        <div class="footer__main-image">
          <div>
            <a target="_blank" href="https://www.goodfirms.co/company/berezha-security">
              <img
                src="https://assets.goodfirms.co/badges/white-button/app-development.svg"
                width="150"
                height="45"
                alt="GoodFirms Badge Berezha"
                title="GoodFirms Badge Berezha"
              />
            </a>
          </div>
        </div>
      </div>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Services</h3>
        <ul class="footer__nav">
          <li><a href="/penetration-testing/">Penetration Testing</a></li>
          <li><a href="/application-security/">Application Security Assessment</a></li>
        </ul>
      </nav>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Training</h3>
        <ul class="footer__nav">
          <li><a href="/pentester-training/">Web Application Pentester Training</a></li>
          <li>
            <a href="/developer-training/">Developer Application Security Training</a>
          </li>
        </ul>
      </nav>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Company</h3>
        <ul class="footer__nav">
          <li><a href="/about-bsg/">About BSG</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/contact/">Contacts</a></li>
          <li><a href="https://blog.bsg.tech/" target="_blank">Blog</a></li>
        </ul>
      </nav>
      <nav class="footer__main-column">
        <h3 class="footer__nav-title">Drop us a line</h3>
        <ul class="footer__nav">
          <li><a href="mailto:hello@bsg.tech" class="email-link" target="_blank">hello@bsg.tech</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__secondary">
      <div class="footer__secondary-column">
        <div class="footer__secondary-logo">
          <a href="/">
            <img src="/public/images/logo-white.svg" width="88" height="32" alt="Berezha" title="Berezha" />
          </a>
        </div>
        <p>© <span id="currentYear">2021</span> BSG. All rights reserved.</p>
      </div>
      <div class="footer__secondary-column">
        <ul class="footer__secondary-nav">
          <li><a href="/terms-and-conditions/">Terms&Conditions</a></li>
          <li><a href="/privacy-policy-bsg/">Privacy Policy</a></li>
          <li><a href="/sitemap_index.xml">Sitemap</a></li>
        </ul>
      </div>
      <div class="footer__secondary-column">
        <ul class="footer__social">
          <li>
            <a href="https://twitter.com/berezhasecurity" target="_blank">
              <img
                src="/public/images/icons/social/ic_twitter.svg"
                height="16"
                width="16"
                alt="Berezha Twitter"
                title="Berezha Twitter"
              />
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/berezhasec" target="_blank">
              <img
                src="/public/images/icons/social/ic_facebook.svg"
                width="16"
                height="16"
                alt="Berezha Facebook"
                title="Berezha Facebook"
              />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/5360904/" target="_blank">
              <img
                src="/public/images/icons/social/ic_linkedin.svg"
                width="16"
                height="16"
                alt="Berezha Linkedin"
                title="Berezha Linkedin"
              />
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/berezhasecurity/" target="_blank">
              <img
                src="/public/images/icons/social/ic_instagram.svg"
                width="16"
                height="16"
                alt="Berezha Instagram"
                title="Berezha Instagram"
              />
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/berezhasecurity" target="_blank">
              <img
                src="/public/images/icons/social/ic_youtube.svg"
                width="16"
                height="16"
                alt="Berezha YouTube"
                title="Berezha YouTube"
              />
            </a>
          </li>
          <li>
            <a href="https://discord.gg/bh9UccSTNW" target="_blank">
              <img
                src="/public/images/icons/social/ic_discord.svg"
                width="16"
                height="16"
                alt="Berezha Discord"
                title="Berezha Discord"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--#include file="/partials/modal.html" -->
<script src="/dist/main.js"></script>
