<header class="header" id="header">
  <div class="header__wrapper">
    <div class="header__left-content">
      <a href="/">
        <img src="../public/images/logo.png" alt="Berezha" title="Berezha" />
      </a>
      <nav>
        <ul class="header__main-nav">
          <li><a href="#">Services</a></li>
          <li><a href="#">Trainings</a></li>
          <li>
            <a href="#">Company</a>
            <ul class="header__sub-nav">
              <li><a href="#">About BSG</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Certificates</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>
    </div>
    <a class="button button_outline" href="#">Get Quote</a>
  </div>
</header>