<header class="header" id="header">
    <div class="header__wrapper">
        <div class="header__wrapper-logo">
            <img src="../src/img/logo.png" alt="">
        </div>
        <nav class="header__wrapper-menu">
            <ul class="main__menu">
                <li><a href="">Home</a></li>
                <li><a href="">Appsec</a>
                <ul class="main__menu-submenu">
                    <li><a href="">About BSG</a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="">Certificates</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
                </li>
                <li><a href="">Pentest</a></li>
                <li><a href="">Training</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
        <div class="header__wrapper-button">
            <a href="">Get a Precize Quote</a>
        </div>
    </div>
</header>