<header class="header" id="header">
  <div class="header__cover"><span></span></div>
  <div class="header__wrapper">
    <div class="header__left-content">
      <a href="/" class="header__logo">
        <img src="/public/images/logo.svg" width="88" height="32" alt="Berezha" title="Berezha" />
      </a>
      <nav class="header__nav-wrapper" id="headerNavigation">
        <ul class="header__main-nav">
          <li class="mobile-hide">
            <a href="/application-security/">Appsec</a>
          </li>
          <li class="mobile-hide"><a href="/penetration-testing/">Pentest</a></li>
          <li class="desktop-hide">
            <a href="#">Services</a>
            <ul class="header__sub-nav">
              <li>
                <a href="/application-security/">Appsec</a>
              </li>
              <li><a href="/penetration-testing/">Pentest</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Trainings</a>
            <ul class="header__sub-nav">
              <li><a href="/pentester-training/">Web Application Pentester Training</a></li>
              <li>
                <a href="/developer-training/">Developer Application Security Training</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Company</a>
            <ul class="header__sub-nav">
              <li><a href="/about-bsg/">About BSG</a></li>
              <li><a href="/team/">Team</a></li>
              <li><a href="/contact/">Contacts</a></li>
            </ul>
          </li>
          <li>
            <a class="mobile-hide" href="https://blog.bsg.tech/">Blog</a>
            <ul class="header__sub-nav desktop-hide">
              <li>
                <a href="https://blog.bsg.tech/" target="_blank">Blog</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__button-menu" id="mobileNavButton">
      <span class="header__button-menu-item"></span>
      <span class="header__button-menu-item"></span>
    </div>
    <div class="header__button-quote">
      <a class="button button_outline" href="#GetPrecizeQuote">Get Quote</a>
    </div>
  </div>
</header>
