<div class="container" id="GetPrecizeQuote">
  <section class="precise-quote precise-quote_form">
    <form action="#" id="preciseQuoteForm">
      <div class="precise-quote__step">
        <div class="precise-quote__column">
          <h2 class="heading-h2 precise-quote__heading">Any questions left unanswered?</h2>
          <p class="body-text-1">Please send us a message, and our security expert will get back to you shortly.</p>
        </div>
        <div class="precise-quote__column" id="form">
          <!--          <div class="form-inline">-->
          <!--            <div class="form-group">-->
          <!--              <input type="text" name="FirstName" id="FirstName_0" class="form-control" required />-->
          <!--              <label class="form-label" for="FirstName_0">First Name (required)</label>-->
          <!--            </div>-->
          <!--            <div class="form-group">-->
          <!--              <input type="text" name="LastName" id="LastName_0" class="form-control" />-->
          <!--              <label class="form-label" for="LastName_0">Last Name (optional)</label>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="form-group">-->
          <!--            <input type="email" name="Email" id="Email_0" class="form-control" required />-->
          <!--            <label class="form-label" for="Email_0">Email (required)</label>-->
          <!--          </div>-->
          <!--          <div class="form-group">-->
          <!--            <textarea name="Comment" id="Comment_0" class="form-control form-control_textarea"></textarea>-->
          <!--            <label class="form-label" for="Comment_0">Comment (optional)</label>-->
          <!--          </div>-->
          <!--          <div class="form-group form-group_file">-->
          <!--            <div class="form-control_column-file" data-file-attached></div>-->
          <!--            <label for="file" class="form-label_file body-text-1">-->
          <!--              <img src="/public/images/icons/attach-file.svg" width="17" height="19" alt="Attach file" /> Attach file-->
          <!--              <input class="form-control_file" data-file type="file" name="file" id="file" accept=".pdf, .docx" />-->
          <!--            </label>-->
          <!--          </div>-->
          <!--          <div class="button-container flex-center">-->
          <!--            <div class="flex-container">-->
          <!--              <input type="checkbox" name="agreement" class="form-check-input" id="agreement_0" required />-->
          <!--              <label class="form-check-label" for="agreement_0">-->
          <!--                I have read and agree to the <a href="#" target="_blank">Terms&Conditions</a> and-->
          <!--                <a href="#" target="_blank">Privacy Policy</a>.-->
          <!--              </label>-->
          <!--            </div>-->
          <!--            <button type="submit" class="button button_primary button_medium">Send Message</button>-->
          <!--          </div>-->
        </div>
      </div>
    </form>
  </section>
</div>
