<section class="precise-quote">
  <form action="#" id="preciseQuote">
    <div class="precise-quote__step">
      <div class="precise-quote__column">
        <h2 class="heading-h2 precise-quote__heading">See how we can help you reach your goals</h2>
        <p class="body-text-1">
          Answer three questions and find out how our security expertise matches your business needs
        </p>
      </div>
      <div class="precise-quote__column">
        <p class="sub-title precise-quote__question">Pick the service:</p>
        <ul class="precise-quote__answers-container" id="serviceQuestionsContainer"></ul>
      </div>
    </div>
    <hr />
    <div class="precise-quote__step">
      <div class="precise-quote__column">
        <h2 class="heading-h2 precise-quote__heading">See how we can help you reach your goals</h2>
        <p class="body-text-1">
          Answer three questions and find out how our expertise matches your security objectives.
        </p>
      </div>
      <div class="precise-quote__column">
        <p class="sub-title precise-quote__question">Pick your security objective:</p>
        <ul class="precise-quote__answers-container" id="securityObjectiveQuestionsContainer"></ul>
      </div>
    </div>
    <div class="precise-quote__counter body-text-1">Question 1/3</div>
    <!--    <button type="submit">Send</button>-->
  </form>
</section>
