@import '../variables';

.biography {
  margin-top: 128px;
  position: relative;
  margin-bottom: 130px;
}

.biography__title {
  margin: 32px 0 64px;
}

.biography__position {
  margin: 0 0 60px;
}

.biography__image {
  position: absolute;
  top: 0;
  right: 8.3333333333%;
  max-width: 400px;

  @media (max-width: $lg) {
    position: static;
    margin: 0 auto 40px;
  }
}

.biography__description {
  p {
    margin: 0 0 24px;
  }
}
