@import '../colors';
@import '../variables';

.breadcrumbs {
  position: absolute;
  top: 105px;
  left: 0;
  right: 0;
  z-index: 1;

  @media (max-width: $lg) {
    top: 82px;
  }

  @media (max-width: $md) {
    top: 65px;
  }
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  color: $primaryBlueMedium;

  @media (max-width: $lg) {
    font-size: 12px;
    line-height: 16px;
  }

  .breadcrumbs_white & {
    color: $monochromeWhite;
  }

  li {
    margin: 0 5px 0 0;

    &:after {
      content: '/';
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  a {
    text-decoration: none;
    padding-right: 2px;

    .breadcrumbs_white & {
      color: $monochromeWhite;
    }
  }
}
