@import '../colors';
@import '../variables';

.company-info {
  background: $primaryBlueUltralight;
  padding: 16px 0;
  color: $primaryBlueDark;
}

.company-info_dark {
  background: $primaryBlueDark;
  color: $monochromeWhite;
}

.company-info__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;

  @media (max-width: $md) {
    padding: 10px 0 20px;
  }
}

.company-info__content {
  padding: 45px 62px 45px 0;
  border: 1px solid $primaryBlueDark;
  border-left: 0;
  display: flex;
  align-items: center;
  min-height: 200px;

  .company-info_dark & {
    border-color: $monochromeWhite;
  }

  @media (max-width: $md) {
    border: 1px solid $primaryBlueDark;
    padding: 24px;
    text-align: center;
  }
}
