@import '../variables';
@import '../colors';

.company-slider {
  background: $primaryBlueDark;
  overflow: hidden;

  @media (max-width: $lg) {
    padding-top: 48px;
  }
}

.company-slider__content {
  padding: 50px 0 0;
  display: flex;
  align-items: center;
  color: $monochromeWhite;
  height: 632px;

  @media (max-width: $lg) {
    height: auto;
    padding: 32px 0 40px;

    .sub-title {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}

.company-slider__title {
  margin: 0 0 56px;

  @media (max-width: $lg) {
    margin: 0 0 24px;
    font-size: 36px;
  }
}

.company-slider__image {
  img {
    max-width: none;

    @media (max-width: $lg) {
      width: 100%;
    }
  }

  @media (max-width: $lg) {
    margin: 0 -16px;
  }
}
