@import '../colors';
@import '../variables';

.details {
  background: $primaryBlueDark;
  padding: 80px 0 120px;
  color: $monochromeWhite;

  @media (max-width: $lg) {
    padding: 40px 0 24px;

    .advantages__button {
      color: $monochromeWhite;
    }
  }
}

.details__content {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin: 0 0 65px;

  @media (max-width: $lg) {
    flex-wrap: wrap;
    margin: 0 -8px 24px;
    padding: 20px 24px 24px;

    &.body-text-1 {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.details__title {
  margin: 0 0 70px;

  @media (max-width: $lg) {
    margin: 0 0 22px;
    font-size: 28px;
    line-height: 1.5;
  }
}

.details__content_services {
  background: $primaryBlueLight;

  .details__content-item-title {
    color: $primaryBlueMedium;
  }
}

.details__content_training {
  background: $primaryMintDark;

  .details__content-item-title {
    color: $secondaryGreenDark;
  }
}

.details__content-item {
  padding: 0 0 0 8.3333333333%;
  color: $primaryBlueDark;

  @media (max-width: $lg) {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }

  &:last-child {
    padding-right: 8.3333333333%;

    @media (max-width: $lg) {
      padding: 0;
      margin: 0;
    }
  }
}

.details__content-item-title {
  margin: 0 0 8px;

  @media (max-width: $lg) {
    margin: 0 0 4px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.details__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $lg) {
    margin: 0 -8px;
  }
}

.details__list-three-column {
  .details__list-item {
    width: 33.33%;

    @media (max-width: $lg) {
      width: 100%;
      margin: 0 0 30px;
      padding: 0;
    }
  }
}

.details__list-item {
  display: flex;
  padding: 0 0 0 32px;
  width: auto;

  @media (max-width: $lg) {
    width: 100%;
    margin: 0 0 20px;
    padding: 0;
  }

  ul {
    margin: 12px 0 0 14px;

    li {
      position: relative;
      margin: 0 0 12px;

      @media (max-width: $lg) {
        margin: 0 0 8px;
      }

      &:after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $monochromeGrey4;
        position: absolute;
        left: -14px;
        top: 8px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}

.details__list-icon {
  width: 65px;
  min-width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $lg) {
    width: 40px;
    min-width: 40px;
    height: 40px;
    justify-content: flex-start;
    padding-top: 10px;

    img {
      max-width: 24px;
      height: auto;
    }
  }
}

.details__list-content {
  margin: 0 0 0 16px;
  padding: 14px 0 0 0;

  @media (max-width: $lg) {
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.details__list-title {
  margin: 0 0 16px;

  @media (max-width: $lg) {
    margin: 0 0 12px;
    font-size: 18px;
    line-height: 1.5;
  }
}
