@import '../colors';
@import '../variables';

.faq-section {
  @media (max-width: $lg) {
    padding: 40px 0 0;

    .heading-h2 {
      font-size: 28px;
      line-height: 1.5;
    }

    .container__title {
      margin: 0 0 24px;
    }

    .body-text-2 {
      font-size: 14px;
      line-height: 1.45;
    }

    .advantages__button-container {
      margin-top: 8px;
    }
  }
}

.faq {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.faq__title {
  margin: 0 0 35px;
  text-align: left;
  width: 100%;
}

.faq__sub-title {
  margin: 0 0 50px;

  @media (max-width: 768px) {
    margin: 0 0 30px;
  }
}

.faq__item {
  border: 1px solid $monochromeGrey2;
  border-left: 0;
  margin: 0 0 8px;
  transition: border-color linear 0.2s, padding-bottom linear 0.2s;
  width: 100%;

  &.faq__item_open {
    padding-bottom: 15px;
  }
}

.faq__item_open {
  border-color: $primaryBlueDark;
}

.faq__control {
  position: absolute;
  right: 24px;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid $primaryBlueLight;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color linear 0.2s;

  @media (max-width: $lg) {
    right: 16px;
  }

  &:hover {
    border-color: $primaryBlueDark;
  }

  .faq__item_open & {
    transform: rotate(180deg);
  }
}

.faq__control-item {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 12px;
  height: 2px;
  background: $borderLightColor;
  left: 50%;
  margin-left: -6px;
  transition: transform linear 0.1s, background linear 0.2s;

  &:last-child {
    transform: rotate(90deg);
  }

  .faq__item_open & {
    &:last-child {
      transform: rotate(0);
    }
  }
}

.faq__item-title {
  display: flex;
  align-items: center;
  min-height: 72px;
  padding: 5px 104px 5px 0;
  position: relative;
  cursor: pointer;

  @media (max-width: $lg) {
    padding: 15px 48px 15px 0;
    min-height: 48px;

    .body-text-1 {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

.faq__item-description {
  padding: 0 104px;
  overflow: hidden;
  max-height: 0;
  transition: max-height linear 0.2s;
  color: $monochromeGrey8;

  .faq__item_open & {
    max-height: none;
  }

  @media (max-width: $lg) {
    padding: 0 16px;
  }

  p {
    margin: 0 0 0.5em;
  }

  ul {
    margin: 0 0 0.5em 1em;

    li {
      list-style: disc;
    }
  }
}
