@import '../colors';
@import '../variables';

.list {
  background: $primaryBlueUltralight;

  p {
    margin: 0 0 22px;
  }
}

.list_mint-light {
  background: $primaryMintLight;
}

.list__sub-title {
  margin: 0 0 46px;
}

.list__listing {
  li {
    position: relative;
  }
}

.list__listing_bullets {
  li {
    margin: 0 0 16px;
    padding: 0 0 0 20px;

    &:before {
      position: absolute;
      content: '';
      top: 15px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $primaryBlueLight;
    }
  }
}

.list__listing_checkboxes {
  li {
    margin: 0 0 22px;
    padding: 0 0 0 25px;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 10px;
      background: url('../public/images/icons/check.svg');
      width: 14px;
      height: 11px;
    }
  }
}

.list__footer {
  margin: 44px 0 0;
  display: flex;

  @media (max-width: $mobileWidth) {
    flex-wrap: wrap;
  }
}

.list__footer-button {
  margin-left: 60px;

  @media (max-width: $mobileWidth) {
    margin: 25px 0 0;
    width: 100%;
  }
}

.list_contribution {
  padding: 104px 0 70px;
}

.list_contribution-title {
  margin: 0 0 46px;
}

.list__images {
  display: flex;
  justify-content: center;
  margin: 50px -8px 0 -8px;

  @media (max-width: $mobileWidth) {
    flex-wrap: wrap;
  }

  li {
    border: 1px solid $monochromeGrey2;
    background: $monochromeWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin: 0 8px 16px;
    padding: 0 20px;
    width: 100%;

    @media (max-width: $mobileWidth) {
      width: calc(50% - 16px);
    }

    @media (max-width: $sm) {
      width: 100%;
      margin: 0 0 16px;
    }
  }
}
