@import '../colors';
@import '../variables';

.main-block__container {
  display: flex;
  align-items: center;

  @media all and (max-width: #{$mobileWidth}) {
    flex-wrap: wrap;
  }
}

.main-block__information {
  width: 50%;
  padding: 50px 67px;

  @media all and (max-width: #{$mobileWidth}) {
    width: 100%;
    padding: 40px 20px;
  }
}

.main-block__title {
  margin: 0 0 40px;
}

.main-block__subtitle {
  margin: 0 0 58px;
}

.main-block__image {
  min-height: 768px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media all and (max-width: #{$mobileWidth}) {
    width: 100%;
    min-height: auto;
    background: $primaryBlueDark;
    padding: 20px;
  }
}

.main-block__image-bg {
  min-width: 492px;
  min-height: 768px;
  background: $primaryBlueDark;

  @media all and (max-width: #{$mobileWidth}) {
    min-width: auto;
    min-height: auto;
  }
}

.main-block__image-picture {
  position: absolute;

  @media all and (max-width: #{$mobileWidth}) {
    position: static;
  }
}
