@import '../colors';
@import '../variables';

.mobile-slider__container {
  @media (max-width: $lg) {
    position: relative;
    z-index: 1;
  }
}

.mobile-slider__content {
  display: flex;
  justify-content: center;

  @media (max-width: $lg) {
    justify-content: flex-start;
    padding-bottom: 32px;
    width: 100%;
    overflow-x: auto;
  }
}

.mobile-slider__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  display: none;

  @media (max-width: $lg) {
    display: flex;
  }
}

.mobile-slider__pagination-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
  border: 1px solid $borderDarkColor;

  &.active {
    background: $primaryBlueLight;
  }
}
