@import '../colors';
@import '../variables';

.modal__backdrop {
  position: fixed;
  background: rgba(14, 38, 74, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;

  &.modal__backdrop_open {
    z-index: 100;
    opacity: 1;
  }
}

.modal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
}

.modal {
  width: 936px;
  background: $monochromeWhite;
  display: flex;
  position: relative;
  transform: translateY(-1000px);
  transition: transform ease 0.3s;
  flex-direction: row-reverse;

  @media (max-width: $md) {
    flex-wrap: wrap;
    overflow-x: auto;
    height: 100%;
  }

  &.modal_open {
    transform: translateY(0);
  }
}

.modal__info {
  padding: 40px 40px 20px;
  width: calc(100% - 424px);

  @media (max-width: $md) {
    width: 100%;
    padding: 40px 16px;
  }
}

.modal__info-title {
  margin: 0 0 24px;

  @media (max-width: $md) {
    margin: 0 0 12px;
  }
}

.modal__info-sub-title {
  margin: 0 0 24px;
  color: $monochromeGrey6;

  @media (max-width: $md) {
    margin: 0 0 16px;
  }
}

.modal__desc {
  margin: 0 0 30px;

  @media (max-width: $md) {
    margin: 0 0 20px;
  }

  p {
    margin: 0 0 24px;

    &:last-child {
      margin: 0;
    }
  }
}

.modal__linkedin-link {
  display: block;
  transition: opacity ease 0.2s;

  &:hover {
    opacity: 0.75;
  }
}

.modal__photo {
  width: 424px;
  display: flex;
  align-items: center;

  @media (max-width: $md) {
    display: none;
  }

  img {
    width: 100%;
    max-width: none;
  }
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $borderDarkColor;
  opacity: 0.5;
  cursor: pointer;

  @media (max-width: $md) {
    right: 16px;
    top: 16px;
  }

  svg {
    opacity: 1;
  }

  &:hover {
    opacity: 0.75;
  }
}
