@import '../colors';
@import '../variables';
.penetration-testing {
  padding: 120px 0 68px 0;
  @media all and (max-width: #{$mobileWidth}){
    padding: 70px 0 48px 0;
  }
}
.penetration__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 71px 0 0;
}
.penetration__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: 0 0 79px;
  @media all and (max-width: #{$mobileWidth}){
    width: 100%;
  }
}
.penetration__item-icon {
  margin: 0 30px 0 0;
  @media all and (max-width: #{$mobileWidth}){
    margin: 0 15px 0 0;
  }
}
.penetration__info-title {
  margin: 0 0 12px;
}
.penetration__info-subtitle {
  max-width: 400px;
  color: $monochromeGrey8;
}
.penetration_wrapper-button {
  text-align: center;
}