@import '../colors';
@import '../variables';

.precise-quote__container {
  padding-top: 70px;
}

.precise-quote {
  background: $primaryMintLight;
  position: relative;
  margin: 0 0 80px;
  width: 100%;
  overflow: hidden;
}

.precise-quote__wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform ease 0.5s;
}

.precise-quote_form {
  background: $primaryBlueUltralight;
}

.precise-quote__counter {
  position: absolute;
  bottom: 64px;
  left: 8.3333333333%;
  color: $secondaryGreenDark;
  display: flex;
  align-items: baseline;

  @media (max-width: $lg) {
    bottom: 24px;
    left: 24px;
  }
}

.precise-quote__step {
  padding: 64px 0;
  display: flex;
  min-width: 100%;
  position: relative;
  height: 480px;

  @media (max-width: $lg) {
    padding: 24px 24px 80px;
    height: auto;
  }
}

.precise-quote__step_only-form {
  display: block;
}

.precise-quote__heading {
  min-height: 150px;
  margin: 0 0 15px;
  padding-top: 10px;

  @media (max-width: $lg) {
    min-height: auto;
    margin: 0 0 25px;
    padding: 0;
  }
}

//.precise-quote__question-content {
//  border-right: 1px solid $secondaryGreenDark;
//  margin-right: 64px;
//  padding-right: 20px;
//  height: 350px;
//
//  &.services {
//    padding-right: 40px;
//
//    @media (max-width: $lg) {
//      padding: 0;
//      height: auto;
//    }
//  }
//
//  @media (max-width: $lg) {
//    border: 0;
//    margin: 0 0 40px;
//    padding: 0;
//    height: auto;
//  }
//}

.precise-quote__selected-list {
  margin: 0 0 24px;

  span {
    color: $secondaryGreenDark;
  }
}

.precise-quote__question {
  margin: 0 0 32px;
}

.precise-quote__question-title {
  margin: 0 0 20px;
}

.precise-quote__question-sub-title {
  margin: 0 0 24px;
}

.precise-quote__answers-container {
  display: flex;
  flex-wrap: wrap;
}

.precise-quote__input_radio {
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin: 0;

  &:checked {
    + .precise-quote__label_radio {
      border-color: $primaryBlueMedium;
      color: $monochromeWhite;
      background: $primaryBlueMedium;
    }
  }
}

.precise-quote__label_radio {
  padding: 10px 16px;
  border: 1px solid $secondaryGreenDark;
  margin: 0 12px 12px 0;
  color: $secondaryGreenDark;
  display: flex;
  cursor: pointer;
}

.precise-quote__input_text {
  border: 0;
}

.precise-quote__back-button {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;

  i {
    display: inline-flex;
    margin-right: 10px;
    transform: rotate(180deg);
  }
}

.precise-quote__contact-us_left {
}

.precise-quote__contact-us_right {
  border-left: 1px solid $primaryBlueMedium;
  // border-left: 1px solid $secondaryGreenDark;
  padding: 0 64px;
  height: 100%;
  display: flex;
  align-items: center;
  min-height: 352px;

  .precise-quote__wrapper & {
    border-color: $secondaryGreenDark;
  }

  @media (max-width: $lg) {
    border: 0;
    padding: 0;
    margin-top: 40px;
    min-height: auto;
  }
}

// Success

.precise-quote__success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primaryBlueUltralight;
  z-index: 1;
}

.precise-quote__success-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.precise-quote__success-info {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid $primaryBlueMedium;
  padding: 48px 48px 24px;

  @media (max-width: $lg) {
    position: static;
    margin-top: 50px;
  }

  @media (max-width: $sm) {
    padding: 24px;
  }

  .heading-h3 {
    margin: 0 0 12px;
  }
}

.precise-quote__success-info-button {
  display: flex;
  justify-content: flex-end;
  margin: 29px 0 0;
}

.precise-quote__success-link {
  display: inline-flex;
  align-items: baseline;
  transition: opacity ease 0.2s;

  &:hover {
    opacity: 0.85;
  }

  i {
    margin-left: 5px;
  }
}

.precise-quote__loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.85;
}

.precise-quote__error {
  padding-top: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  color: $secondaryRedMedium;
}
