@import '../colors';
@import '../variables';

.precise-quote__container {
  padding-top: 70px;
}

.precise-quote {
  background: $primaryMintLight;
  position: relative;
  margin: 0 0 80px;
  width: 100%;
  overflow: hidden;
}

.precise-quote__wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform ease 0.5s;
}

.precise-quote_form {
  background: $primaryBlueUltralight;
}

.precise-quote__counter {
  position: absolute;
  bottom: 64px;
  left: 8.3333333333%;
  color: $secondaryGreenDark;
  display: flex;
  align-items: baseline;

  @media (max-width: $lg) {
    bottom: 24px;
    left: 24px;
  }
}

.precise-quote__step {
  padding: 64px 0;
  display: flex;
  min-width: 100%;
  position: relative;
  height: 480px;

  @media (max-width: $lg) {
    padding: 24px 24px 80px;
    height: auto;
  }
}

.precise-quote__heading {
  min-height: 150px;
  margin: 0 0 15px;
  padding-top: 10px;

  @media (max-width: $lg) {
    min-height: auto;
    margin: 0 0 25px;
    padding: 0;
  }
}

.precise-quote__question-content {
  border-right: 1px solid $secondaryGreenDark;
  margin-right: 64px;
  padding-right: 20px;
  height: 350px;

  &.services {
    padding-right: 40px;

    @media (max-width: $lg) {
      padding: 0;
      height: auto;
    }
  }

  @media (max-width: $lg) {
    border: 0;
    margin: 0 0 40px;
    padding: 0;
    height: auto;
  }
}

.precise-quote__selected-list {
  margin: 0 0 24px;

  span {
    color: $secondaryGreenDark;
  }
}

.precise-quote__question {
  margin: 0 0 32px;
}

.precise-quote__question-title {
  margin: 0 0 20px;
}

.precise-quote__question-sub-title {
  margin: 0 0 24px;
}

.precise-quote__answers-container {
  display: flex;
  flex-wrap: wrap;
}

.precise-quote__input_radio {
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin: 0;

  &:checked {
    + .precise-quote__label_radio {
      border-color: $primaryBlueMedium;
      color: $monochromeWhite;
      background: $primaryBlueMedium;
    }
  }
}

.precise-quote__label_radio {
  padding: 10px 16px;
  border: 1px solid $secondaryGreenDark;
  margin: 0 12px 12px 0;
  color: $secondaryGreenDark;
  display: flex;
  cursor: pointer;
}

.precise-quote__input_text {
  border: 0;
}

.precise-quote__back-button {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;

  i {
    display: inline-flex;
    margin-right: 10px;
    transform: rotate(180deg);
  }
}
