@import '../colors';
@import '../variables';

.progress {
  display: flex;
  flex-wrap: wrap;
  color: $primaryBlueDark;
  background: $primaryBlueUltralight;
  margin: 0 0 80px;
  padding: 20px 0;

  @media (max-width: $lg) {
    padding: 16px 0;
    margin: 0 0 34px;
  }
}

.progress__item {
  width: 33.33%;
  text-align: center;
  border-right: 1px solid $primaryBlueDark;

  @media (max-width: $lg) {
    width: 100%;
    border: 0;
    padding: 24px 0;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      width: 72px;
      height: 1px;
      background: $primaryBlueDark;
      left: 50%;
      margin-left: -36px;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  &:last-child {
    border: 0;
  }
}

.progress__item-counter {
  color: $primaryBlueMedium;
  margin: 0 0 2px;
}
