@import '../colors';
@import '../variables';

.quote {
  background-color: $primaryMintLight;
  margin: 80px 0;
}

.quote__content {
  padding: 104px;

  @media all and (max-width: #{$mobileWidth}) {
    padding: 50px 24px;
  }
}

.quote__author-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 104px 64px;

  @media all and (max-width: #{$mobileWidth}) {
    padding: 0 24px 24px;
  }
}

.quote__author {
  display: flex;
}

.quote__author-image {
  margin-right: 16px;
}

.quote__author-info {
  padding: 10px 30px 10px 0;
  border: 1px solid $primaryBlueDark;
  border-left: 0;
  line-height: 1;
  min-height: 80px;
}
