@import '../colors';
@import '../variables';

.related-services {
  @media (max-width: $lg) {
    padding: 0;

    .container__title {
      margin: 0 0 24px;
    }

    .heading-h2 {
      font-size: 28px;
      line-height: 1.5;
    }

    .body-text-2 {
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

.related-services__content {
  position: relative;
  display: flex;
  justify-content: center;

  .container {
    @media (max-width: $lg) {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    content: '';
    height: 128px;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -64px;
    background: $primaryBlueUltralight;
  }
}

.related-services__list {
  max-width: 832px;
  position: relative;
  z-index: 1;
  display: flex;

  @media (max-width: $lg) {
    position: static;
    max-width: none;
  }
}

.related-services__item {
  border: 1px solid $monochromeGrey2;
  padding: 32px 24px 60px;
  margin: 0 8px;
  background: $monochromeWhite;
  width: 50%;
  position: relative;

  @media (max-width: $lg) {
    padding: 24px 16px 48px;
    width: 100%;
    margin: 0 16px 0 0;
  }
}

.related-services__item-title {
  margin: 0 0 20px;

  @media (max-width: $lg) {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 5px;
  }
}

.related-services__item-description {
  margin: 0 0 10px;
}

.related-services__item-button {
  position: absolute;
  bottom: 16px;
  right: 10px;
}
