@import '../colors';
@import '../variables';

.services__info {
  padding: 80px 0;
  color: $monochromeWhite;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media (max-width: $lg) {
    padding: 56px 0;
  }
}

.services__info_training {
  background: $primaryMintDark;
  color: $primaryMintMedium;
}

.services__info_services {
  background: $primaryBlueDark;
  color: $borderLightColor;
}

.services__info_team {
  background: $primaryBlueUltralight;
}

.services__info-image {
  position: absolute;
}

.services__info-image_left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.services__info-image_right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.services__info-wrapper {
  color: $monochromeWhite;
  position: relative;
  z-index: 1;

  @media (max-width: $lg) {
    font-size: 16px;
    line-height: 1.5;
  }

  .services__info_team & {
    color: $primaryBlueDark;
  }

  p {
    margin-bottom: 30px;

    &:last-child {
      margin: 0;
    }
  }
}
