@import '../colors';
@import '../variables';

.services__info {
  padding: 80px 0;
  background: $primaryBlueDark;
  color: $monochromeWhite;
  position: relative;
  display: flex;
  justify-content: center;

  @media all and (max-width: #{$mobileWidth}) {
    padding: 40px 12px;
  }

  &:before {
    content: '';
    width: 480px;
    height: 412px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('../public/images/services/img_pentest_value_left.svg');

    @media all and (max-width: #{$mobileWidth}) {
      content: none;
    }
  }

  &:after {
    content: '';
    width: 480px;
    height: 412px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url('../public/images/services/img_pentest_value_right.svg');

    @media all and (max-width: #{$mobileWidth}) {
      content: none;
    }
  }
}

.services__info-wrapper {
  max-width: 816px;
  position: relative;
  z-index: 1;

  p {
    margin-bottom: 25px;

    &:last-child {
      margin: 0;
    }
  }
}
