@import '../variables';
@import '../colors';

.slider {
  display: flex;
  align-items: center;
  position: relative;
  padding: 24px 0 0;

  @media (max-width: $laptopWidth) {
    padding-top: 60px;
  }

  @media (max-width: $mobileWidth) {
    flex-wrap: wrap;
  }
}

.slider__column {
  width: 50%;

  @media (max-width: $mobileWidth) {
    width: 100%;
  }
}

.slider__column-image {
  display: flex;
  justify-content: center;
}

.slider__content {
  padding: 30px 0;
}

.slider__content-title {
  margin: 0 0 50px;
}

.slider__content-button {
  margin: 60px 0 0;
  display: flex;

  @media (max-width: $mobileWidth) {
    width: 100%;
    justify-content: center;
  }
}

.slider-main {
  overflow: hidden;
}

.slider-main__column-desc {
  display: flex;
  align-items: center;
  min-height: 700px;
}

.slider-main__image-container {
  position: relative;
  width: 100%;
  height: 100%;

  @media (max-width: $mobileWidth) {
    display: none;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2000px;
    background: $primaryBlueDark;
  }
}

.slider-main__image {
  position: absolute;
  z-index: 1;
  width: 686px;
  height: 698px;
  right: -90px;
  top: -50px;
}
