@import '../colors';
@import '../variables';

.container_section_team {
  padding-bottom: 0;
}

.team {
  display: flex;

  @media (max-width: $lg) {
    justify-content: center;
  }

  @media (max-width: $sm) {
    flex-wrap: wrap;
  }
}

.team__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 50px;

  .team__item {
    width: calc(25% - 16px);
    margin: 0 8px 16px;

    @media (max-width: $xl) {
      width: calc(33.33% - 16px);
    }

    @media (max-width: $md) {
      width: calc(50% - 16px);
    }

    @media (max-width: $sm) {
      width: 100%;
      margin: 0 0 16px;
    }
  }
}

.team__list-button {
  display: flex;
  justify-content: center;
}

.team__item {
  background: $primaryMintLight;
  padding: 16px 16px 48px;
  margin: 0 16px 16px 0;
  position: relative;
  max-width: 296px;
  min-width: 296px;

  @media (max-width: $sm) {
    width: 100%;
    max-width: none;
  }
}

.team__item-photo {
  margin: 0 0 16px;
  display: flex;
  justify-content: center;
}

.team__item-content {
  margin: 0 0 20px;
  min-height: 164px;

  &:last-child {
    margin: 0;
  }
}

.team__item-position {
  margin: 0 0 8px;

  .caption {
    color: $secondaryGreenDark;
  }
}

.team__item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.team__item-icon {
  padding: 8px;
}

.team__item-link {
  display: flex;
  align-items: center;

  i {
    margin-left: 10px;
  }
}
