@import '../variables';
@import '../colors';

.testimonials {
}

.testimonials__wrapper {
  display: flex;
  justify-content: space-between;

  @media all and (max-width: #{$mobileWidth}) {
    flex-wrap: wrap;
  }
}

.testimonials__wrapper-item {
  width: calc(33.33% - 8px);
  padding: 24px 24px 140px;
  background-color: $primaryMintLight;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 24px;
    left: 16px;
    background: url('../public/images/icons/brackets.svg');
  }

  @media all and (max-width: #{$mobileWidth}) {
    width: 100%;
    margin-bottom: 16px;
  }
}

.testimonials__wrapper-text {
  margin-top: 32px;

  @media all and (max-width: #{$mobileWidth}) {
    margin-bottom: 39px;
  }
}
.testimonials__author-wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}

.testimonials__author-link {
  margin-top: 20px;
  display: flex;

  img {
    display: inline-block;
  }
}

.testimonials__author-info {
  padding: 11px 10px 11px 0;
  border: 1px solid $primaryBlueDark;
  border-left: 0;
  width: 77%;
  min-width: 272px;
  min-height: 80px;
  line-height: 1;
}
