@import '../variables';
@import '../colors';

.testimonials {
  padding: 104px 0 64px;

  @media all and (max-width: #{$mobileWidth}) {
    padding: 50px 0 40px;
  }
}

.testimonials-title {
  margin-bottom: 70px;

  @media all and (max-width: #{$mobileWidth}) {
    margin-bottom: 35px;
  }
}
.testimonials__wrapper {
  display: flex;
  justify-content: space-between;

  @media all and (max-width: #{$mobileWidth}) {
    flex-wrap: wrap;
  }
}

.testimonials__wrapper-item {
  width: calc(33.33% - 8px);
  padding: 24px;
  background-color: $primaryMintLight;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 24px;
    left: 16px;
    background: url('../public/images/icons/brackets.svg');
  }

  @media all and (max-width: #{$mobileWidth}) {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
  }
}

.testimonials__wrapper-text {
  margin-top: 32px;
  margin-bottom: 78px;

  @media all and (max-width: #{$mobileWidth}) {
    margin-bottom: 39px;
  }
}
.testimonials__author-wrapper {
  display: flex;
  justify-content: flex-end;
}

.testimonials__author-info {
  padding: 10px 10px 10px 0;
  border: 1px solid $primaryBlueDark;
  border-left: 0;
  width: 77%;
  min-height: 80px;
  line-height: 1;
}
