@import '../variables';
@import '../colors';

.testimonials {
  @media (max-width: $lg) {
    padding: 56px 0 0;

    .container_title {
      margin: 0 0 24px;

      .heading-h2 {
        font-size: 28px;
        line-height: 1.5;
      }
    }
  }
}

.testimonials__wrapper {
  display: flex;
  justify-content: center;

  @media (max-width: $lg) {
    flex-wrap: wrap;
  }
}

.testimonials__wrapper-item {
  width: calc(33.33% - 8px);
  padding: 24px 24px 140px;
  background-color: $primaryMintLight;
  position: relative;
  margin: 0 8px;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 24px;
    left: 16px;
    background: url('../public/images/icons/brackets.svg');
  }

  @media (max-width: $lg) {
    width: 100%;
    margin: 0 0 24px;
    padding: 56px 24px 170px;
  }
}

.testimonials__wrapper-text {
  margin-top: 32px;

  @media (max-width: $lg) {
    margin: 0;
  }
}

.testimonials__author-wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.testimonials__author-link {
  margin-top: 20px;
  display: flex;

  img {
    display: inline-block;
  }
}

.testimonials__author-info {
  padding: 11px 10px 11px 0;
  border: 1px solid $primaryBlueDark;
  border-left: 0;
  width: 77%;
  min-width: 272px;
  min-height: 80px;
  line-height: 1;

  @media (max-width: $lg) {
    min-width: 220px;
  }
}
