@import '../colors';
@import '../variables';

.trainers {
  overflow: hidden;
  position: relative;
}

.trainers__title {
  margin: 0 0 46px;
}

.trainers__list-container {
  top: 0;
  left: 0;
  width: auto;

  @media (max-width: $lg) {
    overflow-x: auto;
    width: 100%;
  }
}

.trainers__list {
  display: flex;
}

.trainers__list-button {
  display: flex;
}

.trainers__container {
  transition: transform ease 0.3s;

  @media (max-width: $lg) {
    transform: none !important;
  }
}

// Controls

.trainers__control-panel {
  min-height: 50px;
  position: relative;

  @media (max-width: $lg) {
    display: none;
  }
}

.trainers__control {
  position: absolute;
  top: 0;
}

.trainers__control-prev {
  left: 0;
}

.trainers__control-next {
  right: 0;
}

.trainers__control-button-more {
  display: inline-flex;
}

/***************************************/

.trainers__content {
  display: flex;
  align-items: center;

  @media (max-width: $lg) {
    margin-bottom: 50px;
  }
}

.trainers__description {
  p {
    margin: 0 0 25px;

    &:last-child {
      margin: 0;
    }
  }
}
