@import '../colors';

.training-schedule {
  padding: 120px 0 112px;
}

.training-schedule__container {
  margin: 78px 0 0;
}

.training-schedule__item {
  border: 1px solid $monochromeGrey2;
  padding: 23px 0;
  margin: 0 0 8px;
  border-left: none;
  display: flex;
  align-items: flex-start;
}

.training-schedule__item-day {
  min-width: 88px;
  color: $monochromeGrey6;
  margin: 0 16px 0 0;
}

.training-schedule__item-title {
  margin: 0 0 7px;
}

.training-schedule__item-hashtags {
  color: $monochromeGrey6;
}
