@import '../colors';

.workflow {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.workflow__sub-title {
}

.workflow__desc {
  margin: 0 0 48px;
}

.workflow__list {
  counter-reset: counter;
  margin: 0 0 48px;

  &.with-larger-indents {
    li {
      margin: 0 0 48px;
    }
  }

  li {
    position: relative;
    counter-increment: counter;
    margin: 0 0 18px;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      bottom: -54px;
      width: 1px;
      background: $primaryBlueMedium;
      left: -60px;
    }

    &:last-child {
      margin: 0;

      &:after {
        content: none;
      }
    }

    &:before {
      position: absolute;
      left: -84px;
      top: -8px;
      width: 48px;
      height: 48px;
      content: counter(counter);
      color: $primaryBlueMedium;
      border: 1px solid $primaryBlueMedium;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $monochromeWhite;
      z-index: 1;
    }
  }

  p {
    color: $monochromeGrey8;
  }

  a {
    display: inline-block;
  }
}

.workflow__list-title {
  margin: 0 0 8px;

  .with-larger-indents & {
    margin: 0 0 14px;
  }
}

.workflow__button-container {
  display: flex;
  justify-content: center;
}
