@import '../colors';
@import '../variables';

.workflow {
  @media (max-width: $lg) {
    padding: 56px 0;

    .heading-h2 {
      font-size: 28px;
      line-height: 1.5;
    }

    .container__title {
      margin: 0 0 12px;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.workflow__sub-title {
}

.workflow__desc {
  margin: 0 0 48px;

  @media (max-width: $lg) {
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 1.5;

    &:last-child {
      margin: 0;
    }
  }
}

.workflow__list {
  counter-reset: counter;
  margin: 0 0 48px;

  @media (max-width: $lg) {
    margin: 0 0 20px;
  }

  &.with-larger-indents {
    li {
      margin: 0 0 48px;

      @media (max-width: $lg) {
        margin: 0 0 28px;
      }
    }
  }

  li {
    position: relative;
    counter-increment: counter;
    margin: 0 0 18px;

    @media (max-width: $lg) {
      padding-left: 40px;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      bottom: -54px;
      width: 1px;
      background: $primaryBlueMedium;
      left: -60px;

      @media (max-width: $lg) {
        left: 15px;
        bottom: -25px;
      }
    }

    &:last-child {
      margin: 0;

      &:after {
        content: none;
      }
    }

    &:before {
      position: absolute;
      left: -84px;
      top: -8px;
      width: 48px;
      height: 48px;
      content: counter(counter);
      color: $primaryBlueMedium;
      border: 1px solid $primaryBlueMedium;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $monochromeWhite;
      z-index: 1;

      @media (max-width: $lg) {
        font-size: 16px;
        width: 30px;
        height: 30px;
        left: 0;
        top: -4px;
      }
    }
  }

  p {
    color: $monochromeGrey8;
  }

  a {
    display: inline-block;
  }
}

.workflow__list-title {
  margin: 0 0 8px;

  @media (max-width: $lg) {
    font-size: 16px;
    line-height: 1.5;
  }

  .with-larger-indents & {
    margin: 0 0 14px;
  }
}

.workflow__button-container {
  display: flex;
  justify-content: center;
}
