<div class="container_section knowledge">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Benefits</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <div class="knowledge__list">
          <div class="knowledge__list-item">
            <h5 class="sub-title knowledge__list-title">High Developer Engagement</h5>
            <div class="knowledge__list-content body-text-1">
              <p>
                We keep the audience engaged by applying hands-on training. Practical tasks keep the students excited
                and help them better absorb the information.
              </p>
            </div>
          </div>
          <div class="knowledge__list-item">
            <h5 class="sub-title knowledge__list-title">Only Crucial Security Practices</h5>
            <div class="knowledge__list-content body-text-1">
              <p>
                We share the knowledge we are practicing day-to-day: no theorizing or “best practice” mumbo-jumbo, only
                the practical meat.
              </p>
            </div>
          </div>
          <div class="knowledge__list-item">
            <h5 class="sub-title knowledge__list-title">OWASP SAMM methodology</h5>
            <div class="knowledge__list-content body-text-1">
              <p>
                We use the OWASP Software Assurance Maturity Model in our Application Security consulting engagements
                and developer security training.
              </p>
            </div>
          </div>
          <div class="knowledge__list-item">
            <h5 class="sub-title knowledge__list-title">Prior Knowledge</h5>
            <div class="knowledge__list-content body-text-1">
              <p>
                We offer the training to the software development teams, so there are no specific requirements beyond
                the field’s general awareness.
              </p>
            </div>
          </div>
          <div class="knowledge__list-item">
            <h5 class="sub-title knowledge__list-title">No final tests and exams</h5>
            <div class="knowledge__list-content body-text-1">
              <p>
                As it is an awareness training, we provide a course completion report to the client and do not arrange
                any final examination or quiz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
