<section class="call-to-action">
  <div class="container">
    <div class="call-to-action__container">
      <div class="call-to-action__title">
        <h3 class="heading-h2">
          Start building more secure and reliable software by teaching the Application Security fundamentals to your
          software development teams.
        </h3>
      </div>
      <div class="call-to-action__button">
        <a href="#trainingForm" class="button button_with-icon button_large">
          Sign Up
          <div class="button__icon-container">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
