<section class="details">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <h2 class="heading-h2 details__title">Training Details</h2>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="details__content details__content_training body-text-1">
        <div class="details__content-item">
          <h3 class="details__content-item-title">Course level</h3>
          <p>Beginner to Intermediate</p>
        </div>
        <div class="details__content-item">
          <h3 class="details__content-item-title">Effort</h3>
          <p>Five three-hour long sessions over two weeks</p>
        </div>
        <div class="details__content-item">
          <h3 class="details__content-item-title">Format</h3>
          <p>Private recordings available on YouTube</p>
        </div>
        <div class="details__content-item">
          <h3 class="details__content-item-title">Language</h3>
          <p>English, Ukrainian or Russian</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="details__list details__list-three-column body-text-1">
        <div class="details__list-item">
          <div class="details__list-icon">
            <img src="/public/images/icons/result.svg" width="28" height="38" alt="Price" />
          </div>
          <div class="details__list-content">
            <h3 class="details__list-title heading-h4">Price</h3>
            <div>
              <p>2,400 EUR (ex. VAT) for a group of 15-25 students</p>
            </div>
          </div>
        </div>
        <div class="details__list-item">
          <div class="details__list-icon">
            <img src="/public/images/icons/result.svg" width="28" height="38" alt="Suitable for" />
          </div>
          <div class="details__list-content">
            <h3 class="details__list-title heading-h4">Suitable for</h3>
            <div>
              <p>the companies that are willing to produce more secure software.</p>
            </div>
          </div>
        </div>
        <div class="details__list-item">
          <div class="details__list-icon">
            <img src="/public/images/icons/result.svg" width="28" height="38" alt="Feedback & Support" />
          </div>
          <div class="details__list-content">
            <h3 class="details__list-title heading-h4">Feedback & Support</h3>
            <div>
              <p>Private chat group to interact with trainers during and after the course.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
