<div class="container_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">FAQ</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <div class="faq">
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Why should my developers benefit from taking the course?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                In terms of Nassim Taleb’s Black Swan hypothesis, Application Security is the “unknown unknown” to most
                software developers and quality assurance specialists. Engineers do not think the way hackers do. They
                assume their systems would work fine by default, except for a few rare occasions where they would need
                to implement minor and easy fixes. It is far from the truth. All software is vulnerable, and the sooner
                you realize it, the faster and the cheaper you could fix that. However, starting to work in that
                direction requires a basic understanding of software security. And this security awareness is what you
                get at the end of this course.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Why are application security and SDL important?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                The cost of implementing security into a software product grows with time. It is never too late, but the
                later you start – the more expansive it will be. Fixing security bugs in a final release is the most
                costly as it might require rebuilding parts of the application from scratch. Using safe development
                practices from the start allows you to fix security vulnerabilities before they even exist.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Is the training online or in-person?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                It’s both. It is not a computer-based online awareness training where you watch a couple of videos and
                then take a multiple-choice quiz. Usually, we prefer to deliver the course in-person and on-site to
                involve the students in the training process fully. Due to the pandemic, though, we had to retreat to
                the online in-person mode in Zoom. We record all classes, so students can review them if they missed a
                lesson.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">What is the course language?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>We deliver the course in English, Ukrainian, or Russian.</p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Does this course have a test or certificate?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                As it is a corporate awareness type of training, we do not provide a final test or certificate. Instead,
                we prepare a course completion report that attests that the client’s employees have attended the
                training. This attestation is enough to provide to an inquiring third party.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">How long does the course take?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                The training spans over two weeks: we have three classes in the first week and two classes during the
                second. We recommend our clients schedule the training in the morning hours. In this way, we let the
                students focus on the learning materials before lunchtime and attend to the ongoing work tasks during
                the rest of the day.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
