<div class="container_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">FAQ</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <div class="faq">
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Why should developers take this course?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>...</p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Why are application security and SDL important?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                The cost of implementing security into a software product grows with time. It is never too late, but the
                later you start – the more expansive it gets. Fixing security bugs in a final release is the most costly
                as it might require rebuilding parts of the application from scratch. Using secure development practices
                from the beginning enables you to fix security vulnerabilities before they even exist.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Is the training online or in-person?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>...</p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">What is the course language?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>...</p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Does this course have an exam, test, or certificate?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>...</p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">How long does the course take?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
