<section class="container workflow">
  <div class="container_section">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="container__title">
          <h2 class="heading-h2">Training program</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-2">
        <div class="workflow__desc body-text-1">
          <p>
            In the Application Security Awareness Training, we cover the material recommended by
            <a href="https://owaspsamm.org/" target="_blank">OWASP SAMM</a> and go far beyond. With this course, we help
            you implement five crucial Application Security practices into your Software Development Lifecycle:
          </p>
        </div>
        <ul class="workflow__list sub-title">
          <li>
            <h5 class="workflow__list-title heading-h4">Training and Awareness</h5>
            <p class="body-text-1">
              Learning about security engineering principles, application security basics, and appsec practices.
              <a href="https://owaspsamm.org/model/governance/education-and-guidance/stream-a/" target="_blank">
                More about this practice </a
              >.
            </p>
          </li>
          <li>
            <h5 class="workflow__list-title heading-h4">Secure Architecture Design</h5>
            <p class="body-text-1">
              Establishing the ground basis for effective secure software engineering processes.
              <a href="https://owaspsamm.org/model/design/security-architecture/" target="_blank"
                >More about this practice</a
              >.
            </p>
          </li>
          <li>
            <h5 class="workflow__list-title heading-h4">Application Threat Modeling</h5>
            <p class="body-text-1">
              Identifying application threats and defining software security requirements.
              <a href="https://owaspsamm.org/model/design/threat-assessment/" target="_blank"
                >More about this practice</a
              >.
            </p>
          </li>
          <li>
            <h5 class="workflow__list-title heading-h4">Secure Coding</h5>
            <p class="body-text-1">
              Learning about main security vulnerability classes and preventing and avoiding them in your code.
              <a href="https://owaspsamm.org/model/implementation/secure-build/" target="_blank"
                >More about this practice</a
              >.
            </p>
          </li>
          <li>
            <h5 class="workflow__list-title heading-h4">Security Testing</h5>
            <p class="body-text-1">
              Verifying security requirements, finding and fixing security vulnerabilities (a.k.a. hacking).
              <a href="https://owaspsamm.org/model/verification/security-testing/" target="_blank"
                >More about this practice</a
              >.
            </p>
          </li>
        </ul>
        <div class="workflow__desc body-text-1">
          <p>
            We cover all training topics with lectures and practical exercises. All students participate in a Threat
            Modeling session and solve Security Testing and Code Review tasks in the online labs.
          </p>
        </div>
        <div class="workflow__button-container">
          <a href="#GetPrecizeQuote" class="button button_large button_primary">
            Sign Up <span class="button__icon-container"><i class="icon-arrow icon-arrow_white"></i></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
