<section class="workflow container_section">
  <div class="container container_title">
    <h2 class="heading-h2">Training program</h2>
  </div>
  <div class="container container_content container_content-right-indent">
    <p class="body-text-1">
      In the Application Security Awareness Training, we cover the material recommended by OWASP SAMM and go far beyond.
      With this course, we help you implement five crucial Application Security practices into your Software Development
      Lifecycle:
    </p>
    <ul class="workflow__list sub-title">
      <li>
        <h5 class="workflow__list-title heading-h4">Training and Awareness</h5>
        <p class="body-text-1">This course is a great starting point for that.</p>
      </li>
      <li>
        <h5 class="workflow__list-title heading-h4">Secure Architecture Design</h5>
        <p class="body-text-1">Fundamental principles of security engineering, software included.</p>
      </li>
      <li>
        <h5 class="workflow__list-title heading-h4">Application Threat Modeling</h5>
        <p class="body-text-1">Identifying application threats and defining security requirements.</p>
      </li>
      <li>
        <h5 class="workflow__list-title heading-h4">Secure Coding</h5>
        <p class="body-text-1">
          Learning main security vulnerability types, how to find, fix, and avoid them in your code.
        </p>
      </li>
      <li>
        <h5 class="workflow__list-title heading-h4">Security Testing</h5>
        <p class="body-text-1">Verifying security requirements and finding security bugs.</p>
      </li>
    </ul>
    <p class="body-text-1">
      We cover all training topics with lectures and practical exercises. All students participate in a Threat Modeling
      session and solve Security Testing and Code Review tasks in the online labs.
    </p>
  </div>
</section>
