<div class="container">
  <div class="quote">
    <div class="quote__content heading-h3">
      <p>
        We know how to break security, we know how to make breaking it harder, and we love teaching developers how to
        build systems that are harder to break. After all, in the security profession, all fun comes from challenges and
        knowledge sharing.
      </p>
      <div class="quote__author-container">
        <div class="quote__author">
          <div class="quote__author-image">
            <img src="/public/images/team/Sergii-Korolenko.jpg" width="88" height="88" alt="Serhii Korolenko" />
          </div>
          <div class="quote__author-info body-text-1">
            <p>Serhii Korolenko</p>
            <p>Senior Consultant & Training Lead</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
