<div class="container">
  <section class="slider">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="slider__content">
          <h1 class="heading-h1 slider__content-title">Developer Application Security Training</h1>
          <p class="sub-title">
            Train your development team to build secure software. Learn how to implement a Secure Development Lifecycle
            and fix security vulnerabilities before they come into existence.
          </p>
          <div class="slider__content-button">
            <a href="#trainingForm" class="button button_primary button_large">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row align-items-center justify-content-center">
          <img
            src="/public/images/trainings/security/security-training.svg"
            width="608"
            height="608"
            alt="Developer Application Security Training"
          />
        </div>
      </div>
    </div>
  </section>
</div>
