<div class="container_section testimonials">
  <div class="container container_title">
    <h2 class="heading-h2">Testimonials</h2>
  </div>
  <div class="container" id="mobileSlider">
    <div class="mobile-slider__container">
      <div class="mobile-slider__content testimonials__wrapper body-text-1">
        <div class="testimonials__wrapper-item" data-slider-item>
          <div class="testimonials__wrapper-text">
            <p>
              Berezha Security conducted the IT training of the employees of the bank. The team explained the latest
              cybersecurity trends and approaches to effectively overcoming the SDLC processes in our company. We
              appreciate the approach of lectures to get over complex topics easily. And the vulnerabilities of desktop
              software applications were the most useful demonstration for them. Altogether, the team did an enormous
              job.
            </p>
          </div>
          <div class="testimonials__author-wrapper">
            <div class="testimonials__author-info caption">
              <p>Viacheslav Viskushenko</p>
              <p>Information Security Manager, Crédit Agricole Ukraine</p>
              <div class="testimonials__author-link">
                <a href="https://clutch.co/profile/berezha-security-group" target="_blank" rel="nofollow">
                  See review on <img src="/public/images/icons/clutch.svg" width="34" height="10" alt="clutch" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__wrapper-item" data-slider-item>
          <div class="testimonials__wrapper-text">
            <p>
              Our internal development teams are successfully implementing the skills and knowledge that they have taken
              from this course of Berezha Security in our products and services.
            </p>
          </div>
          <div class="testimonials__author-wrapper">
            <div class="testimonials__author-info caption">
              <p>Nazarii Uniiat</p>
              <p>Security Engineer, Clario Tech Limited</p>
              <div class="testimonials__author-link">
                <a href="https://clutch.co/profile/berezha-security-group" target="_blank" rel="nofollow">
                  See review on <img src="/public/images/icons/clutch.svg" width="34" height="10" alt="clutch" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-slider__pagination"></div>
    </div>
  </div>
</div>
