<section class="container_section trainers">
  <div class="container">
    <div class="trainers__container" id="trainersSlider">
      <div class="row">
        <div class="col-lg-5 offset-lg-1 trainers__content">
          <div>
            <h2 class="heading-h2 trainers__title">Trainers</h2>
            <div class="trainers__description body-text-2">
              <p>
                The Application Security Awareness Training is taught by the BSG Application Security experts. Our
                tutors hold prestigious professional certificates, excel at public speaking, and maintain up-to-date
                knowledge in AppSec practices. They are at the core of the OWASP Kyiv chapter and the NoNameCon –
                Ukraine’s largest professional cybersecurity conference.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="trainers__list-container">
            <div class="trainers__list">
              <!--#include file="/partials/team-members/vlad-styran.html" -->
              <!--#include file="/partials/team-members/serhii-korolenko.html" -->
            </div>
          </div>
          <div class="trainers__list-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>
