<div class="container_section">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-10">
        <h2 class="heading-h2 container__title">Training Schedule</h2>
      </div>
    </div>
  </div>
  <div class="training-schedule__module">
    <div class="container">
      <div class="row training-schedule__item">
        <div class="offset-lg-1 col-lg-1">
          <p class="body-text-1 training-schedule__item-day">Day 1</p>
        </div>
        <div class="col-lg-9">
          <p class="body-text-1 training-schedule__item-title">Introduction to Cybersecurity</p>
          <div class="body-text-2 training-schedule__item-content">
            <ul>
              <li>Cybersecurity threats, cyberattacks, and data breaches.</li>
              <li>Threat actors, attack vectors, and security vulnerability classes.</li>
              <li>Security design and secure protocol demo based on the Have I Been Pwned website.</li>
              <li>The state of cybersecurity industry: Data Breach Investigation Report.</li>
              <li>Cybersecurity online resources and communities.</li>
            </ul>
          </div>
          <div class="training-schedule__item-hashtags">
            <p>#cybersecurity #cyberattacks #hackers</p>
          </div>
        </div>
      </div>
      <div class="row training-schedule__item">
        <div class="offset-lg-1 col-lg-1">
          <p class="body-text-1 training-schedule__item-day">Day 2</p>
        </div>
        <div class="col-lg-9">
          <p class="body-text-1 training-schedule__item-title">Application Security Fundamentals</p>
          <div class="body-text-2 training-schedule__item-content">
            <ul>
              <li>
                Software vulnerability types, National Vulnerability Database (NVD), and Common Vulnerabilities and
                Exposures (CVE).
              </li>
              <li>Vulnerability risk level and using the Common Vulnerability Scoring System (CVSS) calculator.</li>
              <li>
                Common software vulnerabilities: <br />
                OWASP Top10, Common Weakness Enumeration (CWE), and BugCrowd Vulnerability Rating Taxonomy (VRT).
              </li>
              <li>Understanding the cyberattack kill chain. Using Mitre ATT&CK matrix and ATT&CK Navigator.</li>
            </ul>
          </div>
          <div class="training-schedule__item-hashtags">
            <p>#vulnerability #risk #owasp</p>
          </div>
        </div>
      </div>
      <div class="row training-schedule__item">
        <div class="offset-lg-1 col-lg-1">
          <p class="body-text-1 training-schedule__item-day">Day 3</p>
        </div>
        <div class="col-lg-9">
          <p class="body-text-1 training-schedule__item-title">Security Architecture and Threat Modeling</p>
          <div class="body-text-2 training-schedule__item-content">
            <ul>
              <li>Fundamental security engineering principles.</li>
              <li>Secure Software Development Lifecycle (SDL) and Application Security practices.</li>
              <li>OWASP Software Assurance Maturity Model (SAMM).</li>
              <li>Threat Modeling. Using OWASP Threat Dragon and Elevation of Privilege game.</li>
              <li>A practical Threat Modeling session.</li>
            </ul>
          </div>
          <div class="training-schedule__item-hashtags">
            <p>#threatmodeling #sdl #samm</p>
          </div>
        </div>
      </div>
      <div class="row training-schedule__item">
        <div class="offset-lg-1 col-lg-1">
          <p class="body-text-1 training-schedule__item-day">Day 4</p>
        </div>
        <div class="col-lg-9">
          <p class="body-text-1 training-schedule__item-title">Secure Development</p>
          <div class="body-text-2 training-schedule__item-content">
            <ul>
              <li>Security requirements, secure coding, and security testing.</li>
              <li>Software supply chain vulnerabilities and dependencies security.</li>
              <li>Code security review basics, techniques, and tools.</li>
              <li>OWASP Application Security Verification Standard.</li>
              <li>A practical code security review session in OWASP Secure Flag.</li>
            </ul>
          </div>
          <div class="training-schedule__item-hashtags">
            <p>#codereview #asvs #secureflag</p>
          </div>
        </div>
      </div>
      <div class="row training-schedule__item">
        <div class="offset-lg-1 col-lg-1">
          <p class="body-text-1 training-schedule__item-day">Day 5</p>
        </div>
        <div class="col-lg-9">
          <p class="body-text-1 training-schedule__item-title">Security Testing</p>
          <div class="body-text-2 training-schedule__item-content">
            <ul>
              <li>Requirements-based security testing.</li>
              <li>Third-party penetration testing.</li>
              <li>Design and architecture review.</li>
              <li>OWASP Testing Project and OWASP Web Security Testing Guide.</li>
              <li>A practical security testing session in PortSwigger Web Security Academy.</li>
            </ul>
          </div>
          <div class="training-schedule__item-hashtags">
            <p>#securitytesting #wstg #portswigger</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
