<section class="container_section list list_mint-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Why Do Developers Need AppSec Training?</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="sub-title">
          <p>
            Software development is all about features. Features make your software useful, and they are easy to
            demonstrate to your customers, unlike software security, which is virtually invisible.
          </p>
          <p>
            Unlike security vulnerabilities, security breaches are apparent. We teach software developers how to produce
            more secure code and protect their business, data, and clients from malicious hackers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
