<div class="container training-schedule container_small">
  <h2 class="heading-h2">Training Schedule</h2>
  <div class="training-schedule__container">
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 1</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">
          Introduction to application security and penetration testing.
        </h6>
        <p class="body-text-2">Web technology fundamentals. Configuring the testing environment.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#appsec #pentest #burpsuite #http #proxy #www</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 2</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">
          Reconnaissance and enumeration. Mapping the penetration testing scope.
        </h6>
        <p class="body-text-2">Automation of assets discovery.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#recon #scanning #discovery #osint #enumeration</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 3</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">
          Access control. Identification, authentication and authorization.
        </h6>
        <p class="body-text-2">Session management. Insecure Direct Object Reference.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#access #authentication #authorization #idor</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 4</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Server-side attacks - part 1.</h6>
        <p class="body-text-2">SQL injection. OS command injection. Local file inclusion. Host header injection.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#sqli #injection #lfi</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 5</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Server-side attacks - part 2.</h6>
        <p class="body-text-2">Server-side request forgery. Server-side template injection. Insecure file upload.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#ssrf #ssti #ifu</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 6</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Client-side attacks part 1.</h6>
        <p class="body-text-2">Cross-site scripting. Cross-site request forgery, HTML injections.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#xss #csrf</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 7</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Client-side attacks part 2.</h6>
        <p class="body-text-2">Advanced XSS exploitation. PostMessage attacks. Analyzing WebSockets security.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#xss #postmessage #websockets</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 8</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Attacks on web services.</h6>
        <p class="body-text-2">Web service security testing approach. API security basics. External XML entity.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#webservice #api #xxe</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 9</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">
          Attacks on web services.Business logic flaws and vulnerabilities.
        </h6>
        <p class="body-text-2">Security misconfigurations in the environment, headers, and beyond.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#businesslogic #misconfiguration</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 10</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Deep dive into injection attacks.</h6>
        <p class="body-text-2">Advanced SQL injections. NoSQL injections. ORM injections. Attacking GraphQL.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#sqli #nosqli #ormi #graphql</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 11</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">
          Cryptography and the web. Cryptography basics. Introduction to cryptanalysis.
        </h6>
        <p class="body-text-2">Crypto in web applications. Common weaknesses and attacks.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#crypto</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 12</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Mobile security. Mobile application security testing.</h6>
        <p class="body-text-2">Configuring the environment. Common vulnerabilities and misconfigurations.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#mobile #sslunpinning #ios #android</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 13</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Cloud security. Pentesting the cloud.</h6>
        <p class="body-text-2">Cloud security basics. Request smuggling attacks. Insecure object deserialization.</p>
        <p class="body-text-2 training-schedule__item-hashtags">#cloud #smuggling #deserialization</p>
      </div>
    </div>
    <div class="training-schedule__item">
      <div class="training-schedule__item-day">
        <p class="body-text-1">Day 14</p>
      </div>
      <div class="training-schedule__item-info">
        <h6 class="body-text-1 training-schedule__item-title">Reporting, risk management, and negotiations.</h6>
        <p class="body-text-2">
          Risk assessment basics. Issue documentation. Reporting and communication. Presenting the pentest results.
        </p>
        <p class="body-text-2 training-schedule__item-hashtags">#reporting #riskmanagement #communication</p>
      </div>
    </div>
  </div>
</div>
