<section class="container_section our-story">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Our story</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 offset-lg-2">
        <div class="our-story__description sub-title">
          <p>
            Our story began in 2014 when three prominent Ukrainian cybersecurity professionals have founded Berezha
            Security. Since then, our company has delivered over 120 projects to more than 80 clients worldwide. We have
            customers in all major business sectors, including IT services, software products, banking, fintech, retail,
            healthcare, media, gaming, consulting services, legal and advisory, and many more. Review our public
            references on <a href="https://clutch.co/profile/berezha-security-group" target="_blank">Clutch</a> to get a
            better view of our clients.
          </p>
          <p>
            Using our offensive mindset and experience, we help our customers develop a mindful approach to
            cybersecurity and integrate security principles into all aspects of their business.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <div class="our-story__image">
          <img src="/public/images/about/our-story.jpg" width="1024" height="570" alt="Our story" title="Our story" />
          <div class="our-story__quote heading-h2">
            <div class="our-story__quote-logo">
              <img src="/public/images/about/logo.svg" width="87" height="79" alt="BSG" title="BSG" />
            </div>
            <p>We empower our clients to defeat tomorrow’s cybersecurity threats – today.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
