@import '../colors';

.footer {
  background: $primaryBlueDark;
  color: $monochromeWhite;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.2px;

  a {
    color: $monochromeGrey5;
    font-size: 14px;
    text-decoration: none;
    transition: color ease 0.3s;

    &:hover {
      color: $monochromeGrey6;
    }
  }
}

.footer__item {
  width: 25%;
}

.footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__top {
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__top-menu {
  width: 62%;
  display: flex;
  justify-content: space-around;
}

.footer__top-menu-item {
  width: 25%;
}

.footer__menu {
  li {
    margin-bottom: 16px;
  }
}

.footer__menu-title {
  font-size: 14px;
  margin-bottom: 24px;
}

.footer__bottom {
  width: 100%;
  border-top: 1px solid $monochromeGrey7;
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__bottom-wrapper {
  width: 62%;
  display: flex;
  justify-content: space-around;
}

.footer__bottom-item {
  width: 25%;
}

.footer__bottom-social {
  width: 25%;
  display: flex;
  justify-content: flex-end;

  li {
    margin: 0 13px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__copyright {
  font-size: 14px;
}

.footer__copyright-social {
  display: flex;
  li {
    list-style: none;
    margin-right: 26px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.without-margin {
  li {
    margin: 0;
  }
}
