@import '../colors';
@import '../variables';

.footer {
  background: $primaryBlueDark;
  color: $monochromeWhite;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.2px;

  a {
    color: $monochromeGrey5;
    font-size: 14px;
    text-decoration: none;
    transition: color ease 0.3s;
    display: inline-block;

    &:hover {
      color: $monochromeGrey6;
    }
  }
}

.footer__main-image {
  margin: 0 0 10px;

  @media (max-width: $mobileWidth) {
    display: flex;
    width: 50%;
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }
}

.footer__main-image_logo {
  margin: -10px 0 34 0px;

  @media (max-width: $mobileWidth) {
    display: none;
  }
}

.footer__main {
  padding: 40px 0 48px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: $mobileWidth) {
    flex-wrap: wrap;
    padding: 48px 0 80px;
  }
}

.footer__main-column {
  padding: 0 16px 0 0;

  @media (max-width: $mobileWidth) {
    padding: 0;
    width: 50%;
    margin: 0 0 24px;
  }

  &:last-child {
    padding: 0;
  }
}

.footer__main-column_images {
  @media (max-width: $mobileWidth) {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 0;
  }
}

.footer__nav {
  li {
    margin: 0 0 16px;
  }
}

.footer__nav-title {
  font-size: 14px;
  color: $monochromeWhite;
  margin: 0 0 24px;
}

// Footer Secondary

.footer__secondary {
  width: 100%;
  border-top: 1px solid $monochromeGrey7;
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobileWidth) {
    display: block;
    text-align: center;
  }
}

.footer__secondary-logo {
  display: none;
  margin: 0 20px 0 0;

  @media (max-width: $mobileWidth) {
    display: block;
  }
}

.footer__secondary-column {
  @media (max-width: $mobileWidth) {
    margin: 0 0 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
}

.footer__secondary-nav {
  display: flex;
  justify-content: center;

  @media (max-width: $mobileWidth) {
    justify-content: space-between;
    width: 100%;
  }

  li {
    margin: 0 45px;

    @media (max-width: $mobileWidth) {
      margin: 0 5px 10px;
    }
  }
}

.footer__social {
  display: flex;
  align-items: center;

  @media (max-width: $mobileWidth) {
    width: 100%;
    justify-content: center;
  }

  li {
    margin-left: 26px;

    @media (max-width: $mobileWidth) {
      margin: 0 15px;
    }
  }
}
