@import '../colors';
@import '../variables';

.header {
  background: $monochromeWhite;
  border-bottom: 1px solid $monochromeGrey2;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  .button_outline {
    text-decoration: none;
  }
}
.home-page {
  .header__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    width: calc(50% - 11px);

    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: calc(1232px * 0.166666666667);
      background: $primaryBlueDark;

      @media (max-width: 1264px) {
        left: calc(100% * 0.33);
      }
    }

    @media (max-width: $lg) {
      display: none;
    }
  }

  &.header-home-cover-hidden {
    .header__cover {
      display: none !important;
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;

  @media (max-width: $md) {
    padding: 12px;
  }
}

.header__left-content {
  display: flex;
  align-items: center;
}

.header__main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;

  @media (max-width: $md) {
    display: block;
    margin-left: 64px;
    padding: 24px 0;
  }

  a {
    color: $primaryBlueDark;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    display: inline-flex;
    padding: 8px 0;
    letter-spacing: 0.2px;
    white-space: nowrap;

    @media (max-width: $md) {
      font-size: 16px;
      padding: 0;
      margin: 0 0 16px;
    }

    &:hover {
      color: $primaryBlueMedium;
    }
  }

  li {
    margin: 0 20px;
    position: relative;

    @media (max-width: $md) {
      margin: 0 0 24px;
      padding: 0 16px 0 0;
    }

    &:last-child {
      .header__sub-nav {
        border: 0;
      }
    }

    &:hover {
      .header__sub-nav {
        display: block;
      }
    }
  }

  > li {
    > a {
      @media (max-width: $md) {
        color: $monochromeGrey6;
      }
    }
  }
}

.header__sub-nav {
  display: none;
  background-color: $primaryMintLight;
  padding: 8px 24px;
  position: absolute;
  left: -24px;
  top: 38px;
  min-width: 150px;

  @media (max-width: $md) {
    display: block;
    position: static;
    border-bottom: 1px solid $monochromeGrey2;
    background: $monochromeWhite;
    padding: 0;
  }

  li {
    margin: 12px 0;

    @media (max-width: $md) {
      margin: 0;
    }

    a {
      padding: 0;
    }
  }
}

.header__logo {
  @media (max-width: $md) {
    max-width: 66px;
    min-width: 66px;
  }
}

.header__nav-wrapper {
  @media (max-width: $md) {
    background: $monochromeWhite;
    position: fixed;
    top: $headerMobileHeight + px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    &.open-navigation {
      display: block;
    }
  }
}

.header__button-menu {
  display: none;
  width: 24px;
  height: 24px;
  padding: 7px 2px;
  position: relative;

  @media (max-width: $md) {
    display: block;
  }
}

.header__button-menu-item {
  width: 20px;
  height: 2px;
  background: $primaryBlueMedium;
  margin: 0 0 6px;
  display: block;
  position: relative;
  transition: transform ease 0.3s;

  .open-navigation & {
    &:first-child {
      transform: rotate(45deg) translate(3px, 3px);
    }
    &:last-child {
      transform: rotate(-45deg) translate(2px, -3px);
    }
  }
}

.header__button-quote {
  @media (max-width: $md) {
    display: none;
  }
}
