@import 'colors';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 65px 0 0 0;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: $primaryBlueDark;
  line-height: 1.2;

  &.overflowed {
    overflow: hidden;
  }

  @media (max-width: 768px) {
    padding: 48px 0 0 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

// Text styles

.heading-h1 {
  font-size: 56px;
  line-height: 1;
}

.heading-h2 {
  font-size: 42px;
  line-height: 1.2;
}

.heading-h3 {
  font-size: 36px;
  line-height: 1.2;
}

.heading-h4 {
  font-size: 28px;
  line-height: 1.5;
}

.sub-title {
  font-size: 24px;
  line-height: 1.5;
}

.body-text-1 {
  font-size: 18px;
  line-height: 1.5;
}

.body-text-2 {
  font-size: 16px;
  line-height: 1.5;
}

.caption {
  font-size: 12px;
  line-height: 1.4;
}

// Links

a {
  color: $primaryBlueMedium;
  text-decoration: underline;
  outline: none;

  &:hover {
    text-decoration: none;
    color: $primaryBlueLight;
  }

  &:visited {
    color: $visitedLink;
  }

  &.active {
    color: $primaryBlueDark;
    text-decoration: none;
    cursor: default;
  }
}

button {
  border: 0;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

// Content

.container {
  max-width: 1256px;
  padding: 0 12px;
  margin: 0 auto;
}

.container_small {
  max-width: 1048px;
}

// Images

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}
