@import 'colors';
@import 'variables';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 65px 0 0 0;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: $primaryBlueDark;
  line-height: 1.2;

  &.overflowed {
    overflow: hidden;
  }

  @media (max-width: 768px) {
    padding: 48px 0 0 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.01em;
}
ul,
ol,
blockquote,
figure {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

// Text styles

.heading-h1 {
  font-size: 56px;
  line-height: 1;
}

.heading-h2 {
  font-size: 42px;
  line-height: 1;
}

.heading-h3 {
  font-size: 36px;
  line-height: 1;
}

.heading-h4 {
  font-size: 28px;
  line-height: 1.5;
}

.sub-title {
  font-size: 24px;
  line-height: 1.5;
}

.body-text-1 {
  font-size: 18px;
  line-height: 1.5;
}

.body-text-2 {
  font-size: 16px;
  line-height: 1.5;
}

.caption {
  font-size: 12px;
  line-height: 1.4;
}

// Links

a {
  color: $primaryBlueMedium;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
    color: $primaryBlueMedium;
  }

  &:visited {
    color: $primaryBlueMedium;
  }

  &:active {
    color: $primaryBlueMedium;
  }

  &.active {
    color: $primaryBlueDark;
    text-decoration: none;
    cursor: default;
  }
}

button {
  border: 0;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

// Content

.container {
  max-width: 1264px;
  padding: 0 $containerIndent;
  margin: 0 auto;
  width: auto;
}

.container_section {
  padding: 80px 0 80px;
}

.container_small {
  max-width: 1056px;
}

.container_title {
  padding-left: calc(8.3333333333%);
  margin-bottom: 78px;

  @media (max-width: $mobileWidth) {
    padding-left: $containerIndent;
  }
}

.container__title {
  margin: 0 0 70px;
}

.container_content {
  padding-left: calc(16.6666666667%);

  @media (max-width: $mobileWidth) {
    padding-left: $containerIndent;
  }
}

.container__sub-title {
  margin: 0 0 44px;
}

.container_content-right-indent {
  padding-right: calc(104px + #{$containerIndent});

  @media (max-width: $mobileWidth) {
    padding-right: $containerIndent;
  }
}

.text-content {
  margin: 0 0 48px;

  p {
    margin: 0 0 36px;

    &:last-child {
      margin: 0;
    }
  }
}

.hide {
  display: none !important;
}

.width-100 {
  width: 100%;
}

// Images

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
}

// Flex basics

.flex-container {
  display: flex;
}

.flex-container_center {
  justify-content: center;
}

.flex-center {
  align-items: center;
}

// Backgrounds

.bg-light-mint {
  background: $primaryMintLight;
}

// Media

.mobile-hide {
  @media (max-width: $md) {
    display: none !important;
  }
}

.tablet-hide {
  @media (max-width: $lg) {
    display: none !important;
  }
}

.tablet-show {
  display: none !important;

  @media (max-width: $lg) {
    display: block !important;
  }
}

.desktop-hide {
  display: none !important;

  @media (max-width: $md) {
    display: block !important;
  }
}
