@import 'colors';

.button {
  font-size: 16px;
  line-height: 24px;
  padding: 5px 16px;
  border: 1px solid transparent;
  transition: color, background, border ease 0.3s;
  text-decoration: none;
}

.button_medium {
  padding: 10px 16px;
}

.button_large {
  padding: 14px 16px;
}

.button_primary {
  background: $primaryBlueMedium;
  border-color: $primaryBlueMedium;
  color: $monochromeWhite;

  &:hover {
    background: $primaryBlueLight;
    border-color: $primaryBlueLight;
  }

  &:disabled {
    background: $monochromeGrey5;
    border-color: $monochromeGrey5;
  }

  &:focus {
    border-color: $borderLightColor;
    background: $primaryBlueLight;
  }

  &:active {
    background: $primaryBlueLight;
    border-color: $borderDarkColor;
  }
}

.button_outline {
  border: 1px solid $primaryBlueMedium;
  background: $monochromeWhite;
  color: $primaryBlueMedium;

  &:hover {
    border-color: $primaryBlueLight;
    color: $primaryBlueLight;
  }

  &:disabled {
    border-color: $monochromeGrey5;
    color: $monochromeGrey5;
  }

  &:focus {
    border-color: $borderLightColor;
    color: $primaryBlueLight;
  }

  &:active {
    border-color: $borderDarkColor;
    color: $primaryBlueLight;
  }
}

.button_with-icon {
  display: flex;
  align-items: center;
  color: $primaryBlueMedium;
  background: $monochromeWhite;

  &:hover {
    border-color: $primaryBlueLight;
    color: $primaryBlueLight;

    path {
      stroke: $primaryBlueLight;
    }
  }

  &:disabled {
    border-color: $monochromeGrey5;
    color: $monochromeGrey5;

    path {
      stroke: $monochromeGrey5;
    }
  }

  &:focus {
    border-color: $borderLightColor;
    color: $primaryBlueLight;

    path {
      stroke: $primaryBlueLight;
    }
  }

  &:active {
    border-color: $borderDarkColor;
    color: $primaryBlueLight;

    path {
      stroke: $primaryBlueLight;
    }
  }
}

.button__icon-container {
  display: flex;
  margin-left: 16px;
}
