@import 'colors';

.button {
  font-size: 16px;
  line-height: 24px;
  padding: 6px 16px 4px 16px;
  border: 1px solid transparent;
  transition: color, background, border ease 0.3s;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.button_medium {
  padding: 10px 16px;
}

.button_large {
  padding: 15px 20px;
  font-size: 18px;
}

.button_primary {
  background: $primaryBlueMedium;
  border-color: $primaryBlueMedium;
  color: $monochromeWhite;

  &:hover {
    background: $primaryBlueLight;
    border-color: $primaryBlueLight;
    color: $monochromeWhite;
  }

  &:disabled {
    background: $monochromeGrey5;
    border-color: $monochromeGrey5;
  }

  &:focus {
    border-color: $borderLightColor;
    background: $primaryBlueLight;
    color: $monochromeWhite;
  }

  &:active {
    background: $primaryBlueLight;
    border-color: $borderDarkColor;
    color: $monochromeWhite;
  }
}

.button_outline {
  border: 1px solid $primaryBlueMedium;
  background: $monochromeWhite;
  color: $primaryBlueMedium;

  &:hover {
    border-color: $primaryBlueLight;
    color: $primaryBlueLight;
  }

  &:disabled {
    border-color: $monochromeGrey5;
    color: $monochromeGrey5;
  }

  &:focus {
    border-color: $borderLightColor;
    color: $primaryBlueLight;
  }

  &:active {
    border-color: $borderDarkColor;
    color: $primaryBlueLight;
  }
}

.button_with-icon {
  display: flex;
  align-items: center;
  color: $primaryBlueMedium;
  background: $monochromeWhite;

  &:hover {
    border-color: $primaryBlueLight;
    color: $primaryBlueLight;

    path {
      stroke: $primaryBlueLight;
    }
  }

  &:disabled {
    border-color: $monochromeGrey5;
    color: $monochromeGrey5;

    path {
      stroke: $monochromeGrey5;
    }
  }

  &:focus {
    border-color: $borderLightColor;
    color: $primaryBlueLight;

    path {
      stroke: $primaryBlueLight;
    }
  }

  &:active {
    border-color: $borderDarkColor;
    color: $primaryBlueLight;

    path {
      stroke: $primaryBlueLight;
    }
  }
}

.button__icon-container {
  display: flex;
  margin-left: 16px;
}

.icon-arrow {
  width: 6px;
  height: 12px;
  position: relative;
  display: block;

  &:after,
  &:before {
    height: 8px;
    width: 1px;
    position: absolute;
    content: '';
    background: $primaryBlueMedium;
    left: 3px;
  }

  &:before {
    top: -1px;
    transform: rotate(-40deg);
  }

  &:after {
    bottom: -1px;
    transform: rotate(40deg);
  }
}

.icon-arrow_white {
  &:after,
  &:before {
    background: $monochromeWhite;
  }
}
