$primaryBlueDark: #0e264a;
$primaryBlueMedium: #0048d4;
$primaryBlueLight: #0076fe;
$primaryBlueUltralight: #e6f1ff;

$primaryMintDark: #00ceba;
$primaryMintMedium: #00e4d0;
$primaryMintLight: #e6f8f4;

$secondaryGreenDark: #0e7680;
$secondaryGreenMedium: #2acc7c;
$secondaryRedDark: #9a1826;
$secondaryRedMedium: #fe2640;

$monochromeWhite: #ffffff;
$monochromeGrey1: #f2f2f7;
$monochromeGrey2: #e5e5ea;
$monochromeGrey3: #d1d1d6;
$monochromeGrey4: #c7c7cc;
$monochromeGrey5: #aeaeb2;
$monochromeGrey6: #8e8e93;
$monochromeGrey7: #636366;
$monochromeGrey8: #48484a;
$monochromeGrey9: #3a3a3c;
$monochromeGrey10: #1c1c1e;
$monochromeBlack: #000000;

$visitedLink: #8637d4;
$borderDarkColor: #0e264a;
$borderLightColor: #0048d4;
