<div class="team__item">
  <div class="team__item-photo">
    <img src="/public/images/team/Anatoliy-Bereziuk.jpg" width="264" height="264" alt="Anatolii Bereziuk" />
  </div>
  <div class="team__item-content">
    <h5 class="sub-title">Anatolii Bereziuk</h5>
    <div class="team__item-position">
      <p class="body-text-2">
        Security Consultant
        <br />
        <span class="caption"> OSCP, eWPTXv2, eCPPTv2 </span>
      </p>
    </div>
    <p class="caption">
      Penetration tester. Security trainer.
      <br />
      OWASP Kyiv chapter leader.
    </p>
  </div>
  <div class="team__item-footer body-text-2">
    <a href="#" class="team__item-icon">
      <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
    </a>
    <a href="#" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
  </div>
  <!-- Modal Content -->
  <div class="hide">
    <div data-team-member>
      <div data-team-member-name>Anatolii Bereziuk</div>
      <div data-team-member-position>Security Consultant</div>
      <div data-team-member-info>
        <p>Penetration tester. Security trainer.</p>
        <p>OWASP Kyiv chapter leader.</p>
      </div>
      <div data-team-member-linkedin>https://linkedin.com</div>
      <div data-team-member-photo>/public/images/team/Anatoliy-Bereziuk_big.jpg</div>
    </div>
  </div>
</div>
