<div class="team__item">
  <div class="team__item-photo">
    <img src="/public/images/team/Ihor-Bliumental.jpg" width="264" height="264" alt="Ihor Bliumental" />
  </div>
  <div class="team__item-content">
    <h5 class="sub-title">Ihor Bliumental</h5>
    <div class="team__item-position">
      <p class="body-text-2">
        Security Consultant, <br />
        Application Security Lead
      </p>
    </div>
    <p class="caption">
      Top 20 bug-hunter on <a href="#" target="_blank" rel="nofollow">BugCrowd</a>.
      <br />
      Co-founder of OWASP Kyiv & NoNameCon.
    </p>
  </div>
  <div class="team__item-footer body-text-2">
    <a href="https://www.facebook.com/ihor.bliumental" target="_blank" rel="nofollow" class="team__item-icon">
      <img src="/public/images/icons/social/facebook_color.svg" width="20" height="20" alt="Facebook" />
    </a>
    <a href="#" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
  </div>
  <!-- Modal Content -->
  <div class="hide">
    <div data-team-member>
      <div data-team-member-name>Ihor Bliumental</div>
      <div data-team-member-position>Security Consultant, Application Security Lead</div>
      <div data-team-member-info>
        <p>
          Ihor Bliumental is a world-class application security expert and one of the most successful bug-hunters
          globally. He was named the BugCrowd MVP multiple times and submitted around 150 vulnerabilities within bug
          bounty programs of global brands such as MasterCard, Netflix, Upwork, Tesla, and others.
        </p>
        <p>
          At BSG, Ihor leads, plans, and coordinates all our security assessment projects and coaches the teammates on
          various cybersecurity aspects.
        </p>
        <p>He is a compulsive book reader and a professional intellectual games team captain.</p>
      </div>
      <div data-team-member-linkedin>https://www.facebook.com/ihor.bliumental</div>
      <div data-team-member-photo>/public/images/team/Ihor-Bliumental_big.jpg</div>
    </div>
  </div>
</div>
