<div class="team__item">
  <div class="team__item-photo">
    <img src="/public/images/team/Kostiantyn-Korsun.jpg" width="264" height="264" alt="Kostiantyn Korsun" />
  </div>
  <div class="team__item-content">
    <h5 class="sub-title">Kostiantyn Korsun</h5>
    <div class="team__item-position">
      <p class="body-text-2">Co-founder & COO</p>
    </div>
    <p class="caption">
      BSG Executive Director and business leader.
      <br />
      Cybersecurity expert, keynote speaker, and public figure.
    </p>
  </div>
  <div class="team__item-footer body-text-2">
    <a href="https://www.linkedin.com/in/kostiantyn-korsun-58012b1b/" target="_blank" class="team__item-icon">
      <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
    </a>
    <a href="#" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
  </div>
  <!-- Modal Content -->
  <div class="hide">
    <div data-team-member>
      <div data-team-member-name>Kostiantyn Korsun</div>
      <div data-team-member-position>Co-founder & COO</div>
      <div data-team-member-info>
        <p>
          As former deputy head of Cybercrime Division at Security Service of Ukraine, Kostyantyn is a co-founder and
          the first head of CERT-UA. After resigning, Kos acted as Regional Director for the Ukrainian Research Office
          at iSIGHT Partners, an international cyber threat intelligence firm later acquired by FireEye Inc.
        </p>
        <p>
          He is a prominent Ukrainian cybersecurity community member, a co-founder and the first Chairman of the
          Ukrainian Information Security Group (UISG), and a long-term head organizer of the UISGCON professional
          conference.
        </p>
        <p>
          In BSG, he acts as an Executive Director and expert coach for the team, who shares his vast experience in
          cybersecurity, cybercrime research, and threat analysis.
        </p>
      </div>
      <div data-team-member-linkedin>https://www.linkedin.com/in/kostiantyn-korsun-58012b1b/</div>
      <div data-team-member-photo>/public/images/team/Kostiantyn-Korsun_big.jpg</div>
    </div>
  </div>
</div>
