<div class="team__item">
  <div class="team__item-photo">
    <img
      src="/public/images/team/Natali-Trubnikova.jpg"
      width="264"
      height="264"
      alt="Natalia Trubnikova"
      title="Natalia Trubnikova"
    />
  </div>
  <div class="team__item-content">
    <h5 class="sub-title">Natalia Trubnikova</h5>
    <div class="team__item-position">
      <p class="body-text-2">Chief Marketing Officer</p>
    </div>
  </div>
  <div class="team__item-footer body-text-2">
    <a
      href="https://www.linkedin.com/in/natali-trubnikova-85733ab7/"
      target="_blank"
      rel="nofollow"
      class="team__item-icon"
    >
      <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" title="LinkedIn" />
    </a>
    <a href="#" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
  </div>
  <!-- Modal Content -->
  <div class="hide">
    <div data-team-member>
      <div data-team-member-name>Natalia Trubnikova</div>
      <div data-team-member-position>Chief Marketing Officer</div>
      <div data-team-member-info>
        <p>Natalia's expertise turns around digital marketing for B2B tech companies.</p>
        <p>
          She is passionate about launching new projects, creating growth strategies, following a mix of inbound and
          outbound approaches to get the brand playing a long game.
        </p>
        <p>
          She obtained global event organization experience by preparing brands for the industry roadshows and managing
          conferences, job fairs, celebrity meetings, etc.
          <br />
          At BSG, Natalia is responsible for brand evolution and expansion of market presence.
        </p>
        <p>Natalia is fond of sports, long-distance running, and traveling.</p>
      </div>
      <div data-team-member-linkedin>https://www.linkedin.com/in/natali-trubnikova-85733ab7/</div>
      <div data-team-member-photo>/public/images/team/Natali-Trubnikova_big.jpg</div>
    </div>
  </div>
</div>
