<div class="team__item">
  <div class="team__item-photo">
    <img src="/public/images/team/Roman-Rott.jpg" width="264" height="264" alt="Roman Rott" title="Roman Rott" />
  </div>
  <div class="team__item-content">
    <h5 class="sub-title">Roman Rott</h5>
    <div class="team__item-position">
      <p class="body-text-2">Software Engineer</p>
    </div>
    <p class="caption">
      Application Security enthusiast.
      <br />
      Professional community volunteer.
    </p>
  </div>
  <div class="team__item-footer body-text-2">
    <a href="https://www.linkedin.com/in/rrott/" target="_blank" rel="nofollow" class="team__item-icon">
      <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" title="LinkedIn" />
    </a>
    <a href="#" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
  </div>
  <!-- Modal Content -->
  <div class="hide">
    <div data-team-member>
      <div data-team-member-name>Roman Rott</div>
      <div data-team-member-position>Software Engineer</div>
      <div data-team-member-info>
        <p>
          Roman is a full-stack software developer with more than ten years of programming experience who focuses on Web
          Application Development and Software Security.
        </p>
        <p>
          At BSG, Roman develops our own software product, the D.A.R.T.S. pentest automation platform, which allows us
          and our clients to collaborate securely on sensitive pentest-related data. With Roman's help, we streamline
          our project activities, automate reporting, and integrate external data sources into our workflow.
        </p>
        <p>
          Roman contributes to the cybersecurity community development by volunteering at NoNameCon and OWASP Ukraine
          professional events.
        </p>
      </div>
      <div data-team-member-linkedin>https://www.linkedin.com/in/rrott/</div>
      <div data-team-member-photo>/public/images/team/Roman-Rott_big.jpg</div>
    </div>
  </div>
</div>
