<div class="team__item">
  <div class="team__item-photo">
    <img src="/public/images/team/Serhii-Korolenko.jpg" width="264" height="264" alt="Serhii Korolenko" />
  </div>
  <div class="team__item-content">
    <h5 class="sub-title">Serhii Korolenko</h5>
    <div class="team__item-position">
      <p class="body-text-2">Security Consultant, Training Lead</p>
      <span class="caption">OSCP, eWPTX, eMAPT</span>
    </div>
    <p class="caption">Penetration tester. Conference speaker. OWASP Kyiv chapter leader.</p>
  </div>
  <div class="team__item-footer body-text-2">
    <a
      href="https://www.linkedin.com/in/sergiy-korolenko-82b2ab46/"
      target="_blank"
      rel="nofollow"
      class="team__item-icon"
    >
      <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
    </a>
    <a href="#" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
  </div>
  <!-- Modal Content -->
  <div class="hide">
    <div data-team-member>
      <div data-team-member-name>Serhii Korolenko</div>
      <div data-team-member-position>Security Consultant, Training Lead</div>
      <div data-team-member-info>
        <p>
          Serhii is a cybersecurity pro with vast experience in both Application Security and Penetration Testing. He
          manages the full spectrum of appsec assessments and penetration tests from the BSG portfolio.
        </p>
        <p>
          As a training lead, he is always up to date on the latest security trends and is passionate about organizing
          conferences and speaking publicly. He presents and volunteers at various events, BruCON, OWASP Ukraine,
          NoNameCon, and TestingStage, among others.
        </p>
        <p>
          Serhii is fond of sports videogames and loves riding the drone and take footage of his picturesque travels.
        </p>
      </div>
      <div data-team-member-linkedin>https://www.linkedin.com/in/sergiy-korolenko-82b2ab46/</div>
      <div data-team-member-photo>/public/images/team/Serhii-Korolenko_big.jpg</div>
    </div>
  </div>
</div>
