<div class="documents">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="documents__page-title">
          <h1 class="heading-h2">BSG Terms and Conditions</h1>
        </div>
      </div>
    </div>
    <div class="row body-text-2">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="documents__date body-text-2">Last updated on 01.05.2021</div>
        <div class="documents__section">
          <p>
            Please read these terms of service carefully before using Website and services of
            <a href="https://www.bsg.tech">www.bsg.tech</a>, which is operated by Berezha Security Group LLC (BSG).
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Conditions of Use</h2>
          <p>
            We will provide the services to you, which are subject to the conditions stated below in this document.
            Every time you visit this Website, use its services or make a purchase, you accept the following conditions.
            This is why we urge you to read them carefully.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Privacy Policy</h2>
          <p>
            Before you continue using our Website we advise you to read our
            <a href="/privacy-policy-bsg.html">Privacy Policy</a> regarding our user data collection. It will help you
            better understand our practices.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Copyright</h2>
          <p>
            Content published on this Website (digital downloads, images, texts, graphics, logos) is the property of
            Berezha Security Group and its content creators and protected by international copyright laws. The entire
            compilation of the content found on this Website is the exclusive property of Berezha Security Group.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Communications</h2>
          <p>
            The entire communication with us is electronic. Every time you email us or visit our Website, you are going
            to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the
            news on our Website, you will receive regular emails from us. We will continue to communicate with you by
            posting information and notices on our Website and sending you emails. You also agree that all notices,
            disclosures, agreements, and other communications we provide to you electronically meet the legal
            requirements that such communications be in writing.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Applicable Law</h2>
          <p>
            By visiting this website <a href="https://www.bsg.tech">www.bsg.tech</a>, you agree that the Ukraine and
            worldwide jurisdiction laws will govern these terms of service or any dispute of any sort that might come
            between BSG and you or its business partners and associates without regard to principles of conflict laws.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Disputes</h2>
          <p>
            Any dispute relating in any way to your visit to this Website or to products you purchase from us shall be
            arbitrated by state or federal court Ukraine and worldwide, and you consent to the exclusive jurisdiction
            and venue of such courts.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">License and Site Access</h2>
          <p>
            We grant you a limited license to access and make personal use of this Website. You are not allowed to
            download or modify it.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Links To Other Websites</h2>
          <p>
            Our Website may contain links to third-party websites or services that are not owned or controlled by
            Berezha Security Group. BSG has no control over and assumes no responsibility for the content, privacy
            policies, or practices of any third-party websites or services.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Contact Us</h2>
          <p>
            If you have any questions about these Terms and Conditions, please contact us at
            <a href="mailto:website@bsg.tech">website@bsg.tech</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
