<div class="documents">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="documents__page-title">
          <h1 class="heading-h2">Privacy Policy BSG</h1>
        </div>
      </div>
    </div>
    <div class="row body-text-2">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="documents__date body-text-2">Last updated on 01.05.2021</div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">Introduction</h2>
          <p>
            At Berezha Security Group LLC, we strive to protect and respect the privacy of our website visitors. We
            collect but non-disclose the information received from the visitors on the
            <a href="https://www.bsg.tech">www.bsg.tech</a> website. This privacy policy applies to all Website services
            offered by BSG.
          </p>
          <p>
            We use your data to provide and improve our services. While using our website and services, you agree to the
            collection and use of information in accordance with this Privacy Policy.
          </p>
          <p class="documents__quote">We will never sell or transmit your information to anyone.</p>
          <p>
            BSG never sells personal data and carries out all processing operations in strict compliance with privacy
            terms.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">1. Information we collect</h2>
          <div class="documents__sub-section">
            <h4 class="body-text-1 documents__sub-title">1.1. Personal Identification Information</h4>
            <p>
              We collect personal identification information from Users in a variety of ways. As it personal
              identification information, it concerns information you provide us by registering for an account:
            </p>
            <ul>
              <li>Contact details, such as First Name, Last Name, Email Address;</li>
              <li>
                Security events potentially may include your user ID (Username or Email) when you visit or configure
                your assets/servers;
              </li>
              <li>Other Personal Data</li>
            </ul>
            <p>
              Users, who visit our Website, register or make a subscription to the newsletter, respond to a survey, fill
              out a form, etc., are leaving their personal identification information, which BSG collects. Users can
              always refuse to supply personal identification information, but it may prevent them from engaging in
              certain BSG activities.
            </p>
          </div>
          <div class="documents__sub-section">
            <h4 class="body-text-1 documents__sub-title">1.2. Non-personal Identification Information</h4>
            <p>
              To improve the quality of the Website, we track information that describes Users' behavior on the Website
              using a set of tools that anonymizes any user data.
            </p>
            <p>
              BSG website uses "cookies" to enhance the experience. Users may choose to set their web browser to refuse
              cookies. If the user does not accept cookies, some parts of the Site may not function properly.
            </p>
            <p>
              Non-personal identification information may include the browser name and the type of computer and
              technical information about Users' means of connecting to our Site, such as the operating system and the
              Internet service providers utilized and other similar information. We use Google Analytics, Hotjar, Google
              and Facebook pixels, Hubspot, which track users' behavior, give more statistical details and interact with
              an engaged audience. Privacy Policy and Terms and Conditions can be found on the websites of software.
            </p>
          </div>
          <div class="documents__sub-section">
            <h4 class="body-text-1 documents__sub-title">1.3 Cookies</h4>
            <p>
              We use cookies to track the activity on our service web pages and hold certain information. Cookies are
              files with a small amount of data that may include a unique anonymous identifier. Cookies are sent to your
              browser from a website and stored on your device. We use tags and scripts to collect and track information
              to improve and analyze our Service.
            </p>
            <p>
              You can refuse all cookies or indicate when a cookie is sent. However, if you do not accept cookies, you
              may not be able to use some parts of our services.
            </p>
            <p>Below are the examples of cookies we use on our site, and why we use them:</p>
            <ul>
              <li>Session Cookies: We use session cookies to operate our services.</li>
              <li>Preference Cookies: We use preference cookies to remember your preferences and various settings.</li>
              <li>Security Cookies: We use security cookies to implement security controls on the website.</li>
              <li>
                Google Analytics Cookies: We use these cookies to collect information about how visitors use our
                website, including details of the site where the visitor has come from and the number of times a visitor
                has been to our website. We use this information to improve our website and enhance the experience of
                the visitors.
              </li>
            </ul>
            <p>
              If you have any issues with the cookies being collected, please email us at
              <a href="mailto:website@bsg.tech">website@bsg.tech</a> or via the Contact form.
            </p>
          </div>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">2. How we use and share information</h2>
          <p>
            According to this Privacy Policy, we do not sell, trade, or share your Personal Information with third
            parties without your consent.
          </p>
          <p>
            The Personal Information, which is shared with us, is used to help us communicate with you - suggest better
            engagement and promotional offers.
          </p>
          <p>BSG collects and uses Users' personal information for the following purposes:</p>
          <ul>
            <li>
              To improve customer service: The information you provide helps us respond to your customer service
              requests, and support needs more efficiently.
            </li>
            <li>
              To personalize user experience: We may use the aggregated information to understand how our Users, as a
              group, use the services and resources provided on our Site.
            </li>
            <li>To improve our Site: We may use the feedback you provide to improve our products and services.</li>
            <li>To run a promotion, contest, survey, or other site feature.</li>
            <li>To send Users information they agreed to receive about topics we think will interest them.</li>
            <li>
              To send periodic emails: We may use the email address provided to send User information and updates. The
              email may also be used to respond to inquiries, questions, and/or other requests.
            </li>
          </ul>
          <p>
            If User wants to unsubscribe from receiving future emails, we include unsubscribe option at the bottom of
            each email, or User may contact us via our Site form or email
            <a href="mailto:website@bsg.tech">website@bsg.tech</a>.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">3. How we protect information</h2>
          <p>We implement security measures designed to protect your information from unauthorized access.</p>
          <p>
            We adopt appropriate data collection, storage, and processing practices and security measures to protect
            against unauthorized access, alteration, disclosure, or destruction of your personal information, username,
            password, and other data stored on our Site. Sensitive and private data exchanges between the Site and its
            Users happens over an SSL secured communication channel and are encrypted and protected with digital
            signatures. Our Site is also in compliance with PCI vulnerability standards to create as secure an
            environment as possible.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">4. Contacts</h2>
          <p>
            Individuals who wish to make their data removed, according to this Privacy Policy, should contact Berezha
            Security Group by sending an email to us at <a href="mailto:website@bsg.tech">website@bsg.tech</a>.
          </p>
        </div>
        <div class="documents__section">
          <h2 class="documents__title sub-title">5. Changes to this Policy</h2>
          <p>
            This Privacy Policy reflects our information security and data protection practices. BSG will let you know
            via email in case of changes in the content of this Policy. Changes to this Policy are effective when they
            are published on this webpage.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
