<section class="company-slider">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-lg-8">
        <div class="company-slider__image">
          <img src="/public/images/team/team.jpg" width="899" height="632" alt="BSG Team" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="company-slider__content">
          <div>
            <h1 class="heading-h1 company-slider__title">We Are BSG</h1>
            <div class="sub-title">
              <p>
                Our team helps companies today to fight the cybersecurity threats of tomorrow. Meet the BSG superheroes!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
