<title>Our Team | Meet Cybersecurity Superheroes | BSG</title>
<meta
  name="description"
  content="We help our today to fight the cybersecurity challenges of tomorrow. ▪️Vlad Styran, Co-founder & CEO ▪️ Andriy Varusha, Co-founder & CSO ▪️ Kos Korsun, Co-founder & COO. Get cybersecurity advice now – talk to the BSG experts."
/>

<meta property="og:title" content="Our Team | Meet Cybersecurity Superheroes | BSG" />
<meta
  property="og:description"
  content="We help our today to fight the cybersecurity challenges of tomorrow. ▪️Vlad Styran, Co-founder & CEO ▪️ Andriy Varusha, Co-founder & CSO ▪️ Kos Korsun, Co-founder & COO. Get cybersecurity advice now – talk to the BSG experts."
/>
<meta property="og:image" content="https://bsg.tech/public/images/team/team.jpg" />
<meta property="og:url" content="https://bsg.tech/team" />
<link rel="canonical" href="https://bsg.tech/team" />
<meta name="robots" content="index, follow" />
