<div class="services__info services__info_team">
  <div class="container">
    <div class="row flex-container_center">
      <div class="col-lg-8">
        <div class="services__info-wrapper sub-title">
          <p>
            All BSG crew members are highly-dedicated cybersecurity enthusiasts and recognized security experts – in
            Ukraine and abroad. All our mid- and senior-level consultants hold top cybersecurity certifications, OSCP,
            CISSP, CISA, among others. Our expertise in Application Security, Penetration Testing, and Information
            Security Consulting is proven by tens of completed projects with highly positive customer feedback.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
