<div class="container_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Our leadership team</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="team__list">
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Vlad Styran" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Vlad Styran</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Co-founder &
                  <br />
                  VP, Business Development
                  <br />
                  <span class="caption">OSCP, CISSP, CISA</span>
                </p>
              </div>
              <p class="caption">
                BSG business and cybersecurity strategist. Cybersecurity expert, ethical hacker, keynote speaker,
                trainer, and consultant.
              </p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Kos Korsun" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Kos Korsun</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Co-founder & CEO
                  <br />
                  <span class="caption">OSCP, CISSP, CISA</span>
                </p>
              </div>
              <p class="caption">
                BSG business and cybersecurity strategist. BSG Executive Director and business leader. Cybersecurity
                expert, keynote speaker, and public figure.
              </p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Andriy Varusha" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Andriy Varusha</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Co-founder & VP,
                  <br />
                  Professional Services
                </p>
              </div>
              <p class="caption">
                BSG services, operations, and quality leader. IT auditor and cybersecurity consultant.
              </p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Ihor Bliumental" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Ihor Bliumental</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Security Consultant,
                  <br />
                  Application Security Lead
                </p>
              </div>
              <p class="caption">
                Top 20 bug-hunter on <a href="#" target="_blank">BugCrowd</a>. Co-founder of OWASP Kyiv & NoNameCon.
              </p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Serhii Korolenko" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Serhii Korolenko</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Security Consultant, Training Lead
                  <br />
                  <span class="caption">OSCP, eWPTX, eMAPT</span>
                </p>
              </div>
              <p class="caption">Penetration tester. Conference speaker. OWASP Kyiv chapter leader.</p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Anatolii Bereziuk" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Anatolii Bereziuk</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Security Consultant
                  <br />
                  <span class="caption">OSCP, eWPTXv2, eCPPTv2</span>
                </p>
              </div>
              <p class="caption">Penetration tester. Security trainer. OWASP Kyiv chapter leader.</p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Kyrylo Hobreniak" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Kyrylo Hobreniak</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Security Consultant
                  <br />
                  <span class="caption">OSCP, eWPTX</span>
                </p>
              </div>
              <p class="caption">
                Penetration tester.
                <br />
                Security trainer.
                <br />
                OWASP Kyiv chapter leader.
              </p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Anna Zhmurko" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Anna Zhmurko</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Security Analyst
                  <br />
                  <span class="caption">CEH</span>
                </p>
              </div>
              <p class="caption">Penetration Tester</p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Maksym Khramov" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Maksym Khramov</h5>
              <div class="team__item-position">
                <p class="body-text-2">Security Analyst</p>
              </div>
              <p class="caption">Penetration Tester. <br />Сommunity volunteer.</p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Roman Hunko" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Roman Hunko</h5>
              <div class="team__item-position">
                <p class="body-text-2">Security Analyst</p>
              </div>
              <p class="caption">Penetration Tester. <br />Professional community volunteer.</p>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Roman Rott" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Roman Rott</h5>
              <div class="team__item-position">
                <p class="body-text-2">
                  Software Engineer.
                  <br />
                  Application Security enthusiast.
                </p>
              </div>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Natalia Trubnikova" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Natalia Trubnikova</h5>
              <div class="team__item-position">
                <p class="body-text-2">Chief Marketing Officer</p>
              </div>
            </div>
            <div class="team__item-footer body-text-2">
              <a href="#" class="team__item-icon">
                <img src="/public/images/icons/social/linkedin_blue.svg" width="16" height="16" alt="LinkedIn" />
              </a>
              <a href="/team/vlad-styran.html" class="team__item-link">Read Bio <i class="icon-arrow"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
