<section class="company-info company-info_dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <div class="company-info__image">
          <!--#include file="/partials/svg-images/company-logo.svg" -->
        </div>
      </div>
      <div class="col-lg-10 col-md-9">
        <p class="company-info__content heading-h3">
          Our goal is to deliver the highest quality security services while remaining affordable to virtually every
          business.
        </p>
      </div>
    </div>
  </div>
</section>
