<section class="company-slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="company-slider__content">
          <div>
            <h1 class="heading-h1 company-slider__title">Who We Are</h1>
            <div class="sub-title">
              <p>
                Berezha Security Group is a cybersecurity consulting firm focused on application security, penetration
                testing, social engineering, cybersecurity consulting, and professional training.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="company-slider__image">
          <img src="/public/images/about/team.jpg" width="939" height="652" alt="BSG Team" />
        </div>
      </div>
    </div>
  </div>
</section>
