<section class="container_section trainers">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 trainers__title">Our story</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 offset-lg-2">
        <div class="our-story__description body-text-2">
          <p>
            Our story began in 2014 when three prominent Ukrainian cybersecurity professionals have founded Berezha
            Security. Since then, our company has delivered over 120 projects to more than 80 clients worldwide. We have
            customers in all major business sectors, including IT services, software products, banking, fintech, retail,
            healthcare, media, gaming, consulting services, legal and advisory, and many more. Review our public
            references on Clutch to get a better view of our clients.
          </p>
          <p>
            Using our offensive mindset and experience, we help our customers develop a mindful approach to
            cybersecurity and integrate security principles into all aspects of their business.
          </p>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="our-story__image">
          <img src="/public/images/about/our-story.jpg" width="400" height="360" alt="Our story" />
        </div>
      </div>
    </div>
  </div>
</section>
