<div class="container list list_mint-light">
  <div class="list_contribution">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h2 class="heading-h2 list_contribution-title">Our contribution</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="body-text-1">
            <ul class="list__listing list__listing_checkboxes">
              <li>We facilitate the cybersecurity industry development by supporting professional events.</li>
              <li>We are at the core of OWASP Kyiv, OWASP Ukraine, and NoNameCon.</li>
              <li>We speak at IT events and promote cybersecurity across the industries.</li>
            </ul>
          </div>
          <ul class="list__images">
            <li>
              <img src="/public/images/contribution/brucon.png" width="113" height="80" alt="bruCon" />
            </li>
            <li>
              <img src="/public/images/contribution/no-name-con.jpg" width="64" height="64" alt="bruCon" />
            </li>
            <li>
              <img src="/public/images/contribution/owasp-ukraine.png" width="80" height="80" alt="owasp ukraine" />
            </li>
            <li>
              <img src="/public/images/contribution/owasp-kyiv.png" width="160" height="64" alt="owasp kyiv" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
