<div class="container">
  <section class="slider">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="slider__content">
          <h1 class="heading-h1 slider__content-title">Who we are</h1>
          <p class="sub-title">
            Berezha Security Group is a cybersecurity consulting firm specializing in all aspects of application
            security, network and social engineering penetration testing, cybersecurity consulting, and professional
            training.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row align-items-center justify-content-center"></div>
      </div>
    </div>
  </section>
</div>
