<div class="container_section leadership-team">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Our leadership team</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="team__list_about">
          <div class="team__list_about-container">
            <!--#include file="/partials/team-members/vlad-styran.html" -->
            <!--#include file="/partials/team-members/kostiantyn-korsun.html" -->
            <!--#include file="/partials/team-members/andriy-varusha.html" -->
          </div>
        </div>
        <div class="team__list-button">
          <a href="/team.html" class="button button_with-icon button_medium">
            To all BSG professionals
            <span class="button__icon-container"><i class="icon-arrow"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
