<div class="container_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">Our leadership team</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="team__list">
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Vlad Styran" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Vlad Styran</h5>
              <div class="team__item-position">
                <p class="body-text-2">Co-founder & VP</p>
              </div>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Vlad Styran" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Vlad Styran</h5>
              <div class="team__item-position">
                <p class="body-text-2">Co-founder & VP</p>
              </div>
            </div>
          </div>
          <div class="team__item">
            <div class="team__item-photo">
              <img src="/public/images/team/Vlad-Styran.jpg" width="264" height="264" alt="Vlad Styran" />
            </div>
            <div class="team__item-content">
              <h5 class="sub-title">Vlad Styran</h5>
              <div class="team__item-position">
                <p class="body-text-2">Co-founder & VP</p>
              </div>
            </div>
          </div>
        </div>
        <div class="team__list-button">
          <a href="/team/index.html" class="button button_with-icon button_medium">
            To all BSG professionals
            <span class="button__icon-container"><i class="icon-arrow"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
