<section class="call-to-action call-to-action_blue">
  <div class="container">
    <div class="call-to-action__container">
      <div class="call-to-action__title">
        <div>
          <h3 class="heading-h2">Тop 10 Vulnerabilities</h3>
          <p class="sub-title call-to-action__sub-title">We discover during Penetration Testing</p>
        </div>
      </div>
      <div class="call-to-action__button">
        <a href="#" class="button button_with-icon button_large">
          Download Report
          <div class="button__icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
              <path d="M1 11L6 6L1 1" stroke="#0048D4" stroke-width="1.5" />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
