<section class="call-to-action call-to-action_blue">
  <div class="container">
    <div class="call-to-action__container">
      <div class="call-to-action__title">
        <div>
          <h3 class="heading-h2">Тop 10 Vulnerabilities</h3>
          <p class="sub-title call-to-action__sub-title">We discover during Penetration Testing</p>
        </div>
      </div>
      <div class="call-to-action__button">
        <a
          href="/public/Top-10-security-vulnerabilities-BSG-2020-Report.pdf"
          download
          target="_blank"
          class="button button_with-icon button_large"
        >
          Download Report
          <div class="button__icon-container">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
