<section class="call-to-action">
  <div class="container">
    <div class="call-to-action__container">
      <div class="call-to-action__title">
        <h3 class="heading-h2">Let us show you how we help similar companies</h3>
      </div>
      <div class="call-to-action__button">
        <a href="#" class="button button_with-icon button_large">
          Talk to Expert
          <div class="button__icon-container">
            <i class="icon-arrow"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
