<section class="pricing">
  <div class="container_title">
    <h2 class="heading-h2">Pricing</h2>
  </div>
  <div class="container container_small">
    <h4 class="heading-h4">External and Internal Pentest</h4>
    <ul class="pricing__list body-text-1">
      <li>Learn how to become a harder target for hacking attacks</li>
      <li>Test your organization’s cyber defenses by simulating a real-life cyberattack</li>
      <li>Comply with PCI DSS and ISO27000 pentesting requirements</li>
      <li>Fix the findings and get a free retest within 60 days grace period</li>
      <li>Get a discount for all recurring services</li>
    </ul>
    <div class="pricing__action">
      <h2 class="heading-h2">5000—20000 USD</h2>
      <a class="button button_primary button_large button_with-icon pricing__button" href="#quote"
        >Get a Precize Quote
        <div class="button__icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
            <path d="M1 11L6 6L1 1" stroke="#fff" stroke-width="1.5" />
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
