<section class="what__get">
  <div class="container container_small">
    <h2 class="heading-h2 what__get-title">What Will You Get</h2>
    <div class="what__get-wrapper">
      <ul class="what__get-list sub-title">
        <li>All critical security findings reported on-the-go</li>
        <li>The report with all findings after the pentest is completed</li>
        <li>Clear recommendations on how to fix the vulnerabilities</li>
        <li>Vulnerability evidence, descriptions, and steps to reproduce</li>
        <li>One free retest during the 60 days grace period</li>
      </ul>
    </div>
  </div>
</section>
