<section class="call-to-action">
  <div class="container">
    <div class="call-to-action__container">
      <div class="call-to-action__title">
        <h3 class="heading-h2">Let us show you how we help similar companies</h3>
      </div>
      <div class="call-to-action__button">
        <a href="#" class="button button_with-icon button_large">
          Talk to Expert
          <div class="button__icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
              <path d="M1 11L6 6L1 1" stroke="#0048D4" stroke-width="1.5" />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
