<section class="advantages container_section">
  <div class="container container_title">
    <h2 class="heading-h2">Why Choose BSG?</h2>
  </div>
  <div class="container">
    <div class="advantages__container advantages__container_three-columns body-text-2">
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Qualification</h4>
        <div class="advantages__info-description">
          <p>6+ years in business, 120+ projects for 80+ customers.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Free retests</h4>
        <div class="advantages__info-description">
          <p>of all initial findings in all reports within 60 days.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">15% discount</h4>
        <div class="advantages__info-description">
          <p>for all recurring types of services and training.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Certified professionals</h4>
        <div class="advantages__info-description">
          <p>OSCP, CISSP, CISA, eWPTX, eMAPT.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Professional insurance</h4>
        <div class="advantages__info-description">
          <p>Worldwide professional liability coverage.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Manual assessments</h4>
        <div class="advantages__info-description">
          <p>Intelligence and expertise over automated scanners.</p>
        </div>
      </div>
    </div>
  </div>
</section>
