<div class="container container_small">
  <div class="faq">
    <h2 class="heading-h2 faq__title">FAQ</h2>
    <div class="faq__container">
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">What is application security penetration testing?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>...</p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">When do I need an application pentest?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>An application security assessment is required to accomplish the following goals.</p>
          <ul>
            <li>
              Validate software security requirements before deploying the application in the production environment
            </li>
            <li>
              Ensure that developers did not neglect the security principles in the software development lifecycle
            </li>
            <li>Verify that critical security bugs were not introduced in the application via poor coding practices</li>
            <li>
              Satisfy appsec-related requirements of standards and regulations, such as PCI DSS, ISO27001, and HIPAA
            </li>
            <li>
              Ensure that a significant change in application functionality or infrastructure did not introduce security
              weaknesses
            </li>
          </ul>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">How to choose an application security firm?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>...</p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">Why should I get an application pentest instead of a vulnerability scan?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>...</p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">Do you do cloud security assessments as well?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>...</p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">How long does an application pentest take, and what is the price?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div>
