<div class="container_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="heading-h2 container__title">FAQ</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <div class="faq">
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">What is application security penetration testing?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                Web application security assessment or application pentest is a red-teaming exercise conducted by appsec
                experts to find and fix software security bugs. Unlike DAST or SAST scan, the application pentest is
                performed manually by experienced professionals. High-quality results are ensured by a creative testing
                approach, profound business logic analysis, comprehensive planning based on the application-specific
                threat model, and the optimal project team composition.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">When do I need an application pentest?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>An application security assessment is required to accomplish the following goals:</p>
              <ul>
                <li>
                  Validate software security requirements before deploying the application in the production environment
                </li>
                <li>
                  Ensure that developers did not neglect the security principles in the software development lifecycle
                </li>
                <li>
                  Verify that critical security bugs were not introduced in the application via poor coding practices
                </li>
                <li>
                  Satisfy appsec-related requirements of standards and regulations, such as PCI DSS, ISO27001, and HIPAA
                </li>
                <li>
                  Ensure that a significant change in application functionality or infrastructure did not introduce
                  security weaknesses.
                </li>
              </ul>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">How to choose an application security firm?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                While selecting a professional application security team, pay attention to the following crucial
                criteria: project deliverables, experience, credibility, and reputation. These points distinguish
                high-quality application security firms:
              </p>
              <ul>
                <li>
                  The ability to readily provide a sample assessment report demonstrates to you the example of possible
                  project outcomes
                </li>
                <li>
                  Relevant professional certificates, such as OSCP, AWAE, and eWPTX, demonstrate the team’s ability to
                  deliver high-quality services
                </li>
                <li>
                  Excellent client references at
                  <a target="_blank" href="https://clutch.co/profile/berezha-security-group">Clutch</a>, theManifest,
                  GoodFirms or another similar resource, or the ones directly provided by the firm, allow you to verify
                  their professional reputation
                </li>
                <li>
                  Professional liability insurance is an excellent addition to the above, as in this case the
                  availability of your systems would be additionally protected by insurance
                </li>
                <li>
                  Contributing to the professional community, such as speaking and volunteering at industry conferences,
                  arranging meetups and webinars, and sponsoring professional events
                </li>
              </ul>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Why should I get an application pentest instead of a vulnerability scan?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                Automated scans are incomplete and often miss critical findings. Manual penetration testing covers the
                security issues that scanners cannot reveal, such as broken authorization, insecure business logic,
                insufficient data validation, and many more. Here, in BSG, we do not limit our effort to vulnerability
                scanners. We use up-to-date hacking techniques, apply only relevant security tests, and guarantee the
                highest quality results without false positives.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">Do you do cloud security assessments as well?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                As most applications run on a public or private cloud, we have extended our portfolio with a cloud
                security review. We provide it in every cloud-based application security assessment. During this phase,
                we search for security vulnerabilities and insecure configurations in your AWS, Azure, GCP, or other
                cloud services and ensure you are compliant with applicable laws and regulations, as well as recommended
                best practices.
              </p>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item-title">
              <h4 class="body-text-1">How long does an application pentest take, and what is the price?</h4>
              <div class="faq__control">
                <span class="faq__control-item"></span>
                <span class="faq__control-item"></span>
              </div>
            </div>
            <div class="faq__item-description body-text-2">
              <p>
                An average application security assessment project takes about 3-4 weeks to complete; the report with
                all findings and recommendations comes during the following week. The application pentest price depends
                on the scope of work and application complexity.
              </p>
              <p>
                BSG pricing is fully transparent: we do not charge any extra. Moreover, our service package already
                includes one free retest of all security vulnerabilities during the 60 days grace period. The project's
                pricing varies between 5000–12000 USD, with an average price tag being roughly 8000 USD. All our
                customers get a 15% discount for all recurring services.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
