<section class="bg-light-mint">
  <div class="container container_section">
    <div class="container_title">
      <h2 class="heading-h2">
        Are you a Ukrainian startup?
        <br />
        Get a Free Security Health Check!
      </h2>
    </div>
    <div class="container_content sub-title text-content">
      <p>
        If you are a startup business, we would be happy to help you succeed by providing a free consulting day with BSG
        experts.
      </p>
      <p>
        We help startups prepare for future security challenges by conducting a Threat Modeling session and performing
        an Application Pentest of the MVP.
      </p>
      <p>
        As a result, you get a clear view of your product’s appsec maturity and avoid the future cost of meeting
        security and compliance requirements.
      </p>
    </div>
    <div class="flex-container flex-container_center">
      <a href="#SignUp" class="button button_primary button_large">
        Sign Up
        <div class="button__icon-container">
          <i class="icon-arrow icon-arrow_white"></i>
        </div>
      </a>
    </div>
  </div>
</section>
