<section class="list container_section" id="pricing">
  <h2 class="container container_title heading-h2">Pricing</h2>
  <div class="container container_content">
    <h4 class="list__sub-title heading-h4">Application Security Assessment</h4>
    <ul class="list__listing list__listing_bullets sub-title">
      <li>Learn how to protect your software from malicious hackers</li>
      <li>Test your application for security vulnerabilities, find and fix security bugs</li>
      <li>Comply with PCI, ISO, SOC2 & OWASP requirements</li>
      <li>Get a concise report with all findings and recommendations</li>
      <li>Fix the findings and get a free retest within 60 days</li>
      <li>Get a discount for all recurring services</li>
    </ul>
    <div class="list__footer">
      <p class="heading-h1">5000—12,000 USD</p>
      <div class="list__footer-button">
        <a href="#GetPrecizeQuote" class="button button_large button_primary">
          Get a Precise Quote
          <div class="button__icon-container">
            <i class="icon-arrow icon-arrow_white"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
