<section class="details">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <h2 class="heading-h2 details__title">Project Details</h2>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="details__content details__content_services body-text-1">
        <div class="details__content-item">
          <h3 class="details__content-item-title">Duration</h3>
          <p>AppSec assessment project takes from 2 to 3 weeks to complete.</p>
        </div>
        <div class="details__content-item">
          <h3 class="details__content-item-title">Team</h3>
          <p>From 2 to 3 appsec professionals.</p>
        </div>
        <div class="details__content-item">
          <h3 class="details__content-item-title">Supervision</h3>
          <p>Managed by the AppSec Lead, coordinated by the Project Manager.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="details__list body-text-1">
        <div class="details__list-item">
          <div class="details__list-icon">
            <img src="/public/images/icons/result.svg" width="28" height="38" alt="Suitable for" />
          </div>
          <div class="details__list-content">
            <h3 class="details__list-title heading-h4">Suitable for</h3>
            <div>
              <ul>
                <li>Web applications</li>
                <li>Software as a Service</li>
                <li>API web services</li>
                <li>Mobile apps</li>
                <li>IoT devices</li>
                <li>Desktop applications</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="details__list-item">
          <div class="details__list-icon">
            <img src="/public/images/icons/result.svg" width="28" height="38" alt="Applicable to" />
          </div>
          <div class="details__list-content">
            <h3 class="details__list-title heading-h4">Applicable to</h3>
            <div>
              <ul>
                <li>Meeting compliance and regulatory requirements</li>
                <li>Finding and fixing security bugs in software applications</li>
                <li>Lowering the data breach, service disruption, and bad publicity risks</li>
                <li>Testing the Secure Development Lifecycle (SDL) efficiency</li>
                <li>Measuring the effectiveness of software security investment</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
