<section class="project__details">
    <div class="container">
        <div class="container_title">
            <h2 class="heading-h2 project__details-title">Project Details</h2>
        </div>
        <div class="project__details_info body-text-1">
            <div class="project__details_info-item">
                <h5 class="project__details_info-title">Duration</h5>
                <p>A typical penetration testing project takes from two
                    to six weeks to complete.
                </p>
            </div>
            <div class="project__details_info-item">
                <h5 class="project__details_info-title">Team</h5>
                <p>The project team consists of two to four experienced
                    penetraion testers.
                </p>
            </div>
            <div class="project__details_info-item">
                <h5 class="project__details_info-title">Supervision</h5>
                <p>The team is managed by the Pentest Lead and
                    coordinated by the Project Manager.
                </p>
            </div>
        </div>
        <div class="project__details_preferences">
            <div class="project__details_preferences-item">
                <div class="project__details_preference-icon">
                    <img src="../../../public/images/icons/result.svg" alt="">
                </div>
                <div class="project__details_preference-list">
                    <h4 class="heading-h4">Suitable for </h4>
                    <ul class="preference__list body-text-2">
                        <li>Any IT infrastructure</li>
                        <li>Private cloud</li>
                        <li>Dedicated data center</li>
                        <li>Public cloud application</li>
                        <li>Server, web, or mobile software</li>
                        <li>Corporate network</li>
                    </ul>
                </div>
            </div>
            <div class="project__details_preferences-item">
                <div class="project__details_preference-icon">
                    <img src="../../../public/images/icons/result.svg" alt="">
                </div>
                <div class="project__details_preference-list">
                    <h4 class="heading-h4">Applicable to </h4>
                    <ul class="preference__list body-text-2">
                        <li>Meeting compliance and regulatory requirements</li>
                        <li>Finding and fixing security weaknesses in systems
                            and processes</li>
                        <li>Lowering the risk of ransomware, data breaches,
                            and malicious hacker attacks</li>
                        <li>Testing the Information Security Management System
                            (ISMS) efficiency</li>
                        <li>Measuring the effectiveness of cybersecurity
                            investment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>