<section class="project__details">
    <div class="container">
        <h2 class="heading-h2 project__details-title">Project Details</h2>
        <div class="project__details_info">
            <div class="project__details_info-item">
                <p class="project__details_info-title body-text-1">Duration</p>
                <div class="project__details-subtitle body-text-1">A typical penetration testing project takes from two
                    to six weeks to complete.
                </div>
            </div>
            <div class="project__details_info-item">
                <p class="project__details_info-title body-text-1">Team</p>
                <div class="project__details-subtitle body-text-1">The project team consists of two to four experienced
                    penetraion testers.
                </div>
            </div>
            <div class="project__details_info-item">
                <p class="project__details_info-title body-text-1">Supervision</p>
                <div class="project__details-subtitle body-text-1">The team is managed by the Pentest Lead and
                    coordinated by the Project Manager.
                </div>
            </div>
        </div>
        <div class="project__details_preferences">
            <div class="project__details_preferences-item">
                <div class="project__details_preference-icon">
                    <img src="../../../public/images/icons/result.svg" alt="">
                </div>
                <div class="project__details_preference-list">
                    <h4 class="heading-h4 list__title">Suitable for </h4>
                    <ul class="preference__list">
                        <li class="preference__list-item body-text-2">Any IT infrastructure</li>
                        <li class="preference__list-item body-text-2">Private cloud</li>
                        <li class="preference__list-item body-text-2">Dedicated data center</li>
                        <li class="preference__list-item body-text-2">Public cloud application</li>
                        <li class="preference__list-item body-text-2">Server, web, or mobile software</li>
                        <li class="preference__list-item body-text-2">Corporate network</li>
                    </ul>
                </div>
            </div>
            <div class="project__details_preferences-item">
                <div class="project__details_preference-icon">
                    <img src="../../../public/images/icons/result.svg" alt="">
                </div>
                <div class="project__details_preference-list">
                    <h4 class="heading-h4 list__title">Applicable to </h4>
                    <ul class="preference__list">
                        <li class="preference__list-item body-text-2">Meeting compliance and regulatory requirements</li>
                        <li class="preference__list-item body-text-2">Finding and fixing security weaknesses in systems and processes</li>
                        <li class="preference__list-item body-text-2">Lowering the risk of ransomware, data breaches, and malicious hacker attacks</li>
                        <li class="preference__list-item body-text-2">Testing the Information Security Management System (ISMS) efficiency</li>
                        <li class="preference__list-item body-text-2">Measuring the effectiveness of cybersecurity investment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>