<div class="container">
  <div class="quote">
    <div class="quote__content heading-h3">
      <p>
        One day, every software product earns malicious hackers’ attention: be it inexperienced script-kiddies,
        underground cybercriminals, or state-sponsored APTs. And while there is virtually no way to make software
        unbreakable, it is worth trying to make those hackers work so hard that they would rather skip to another
        target.
      </p>
    </div>
    <div class="quote__author-container">
      <div class="quote__author">
        <div class="quote__author-image">
          <img src="../../../public/images/home/quote_author.jpg" alt="Ihor Bliumental" />
        </div>
        <div class="quote__author-info body-text-1">
          <p>IHOR BLIUMENTAL</p>
          <p>Senior Analyst & AppSec Lead</p>
        </div>
      </div>
    </div>
  </div>
</div>
