<section class="related-services container_section">
  <div class="container container_title">
    <h2 class="heading-h2">Related Services</h2>
  </div>
  <div class="related-services__content">
    <div class="container">
      <div class="related-services__list">
        <div class="related-services__item">
          <h3 class="related-services__item-title sub-title">Application Security Training</h3>
          <div class="body-text-2 related-services__item-description">
            <p>
              We have created a unique training program for Developers, QA, DevOps, and Project Managers, focusing on
              security engineering fundamentals and crucial software security practices. Train your team to build secure
              software today.
            </p>
          </div>
          <div class="related-services__item-button">
            <a href="/developer-training.html" class="button button_with-icon">
              Learn more
              <div class="button__icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
                  <path d="M1 11L6 6L1 1" stroke="#0048D4" stroke-width="1.5" />
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="related-services__item">
          <h3 class="related-services__item-title sub-title">Application Security Consulting</h3>
          <div class="body-text-2 related-services__item-description">
            <p>
              We help software development companies choose relevant application security practices and build a Secure
              Development Lifecycle around their products and services. Protect your code, data, and users today.
            </p>
          </div>
          <div class="related-services__item-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>
