<section class="related-services">
  <div class="container">
    <h2 class="heading-h2 related-services__title">Related Services</h2>
  </div>
  <div class="related-services__content">
    <div class="related-services__list">
      <div class="related-services__item">
        <h3 class="related-services__item-title sub-title">Security Awareness Workshop</h3>
        <div class="body-text-2 related-services__item-description">
          <p>
            Based on our pentesting experience, we have developed a training program that helps companies make their
            employees the most powerful line of cyber defence.
          </p>
        </div>
        <div class="related-services__item-button">
          <a href="/trainings/developer-application-security.html" class="button button_with-icon">
            Learn more
            <div class="button__icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
                <path d="M1 11L6 6L1 1" stroke="#0048D4" stroke-width="1.5" />
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div class="related-services__item">
        <h3 class="related-services__item-title sub-title">Professional Pentester Training</h3>
        <div class="body-text-2 related-services__item-description">
          <p>
            To share our knowledge in application pentesting, we provide professional training to individuals willing to
            take the ethical hacking career path.
          </p>
        </div>
        <div class="related-services__item-button">
          <a href="/trainings/web-application-pentester.html" class="button button_with-icon">
            Learn more
            <div class="button__icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
                <path d="M1 11L6 6L1 1" stroke="#0048D4" stroke-width="1.5" />
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
