<section class="services__advantages container_section">
  <div class="container container_title">
    <h2 class="heading-h2">Application Security Assessment</h2>
  </div>
  <div class="container">
    <div class="services__advantages-container">
      <div class="services__advantages-item body-text-1">
        <div class="advantages__item-icon">
          <img src="/public/images/icons/target.svg" alt="Application Pentest" />
        </div>
        <div class="advantages__item-info">
          <h4 class="heading-h4">Application Pentest</h4>
          <div class="advantages__info-subtitle">
            <p>
              Application security assessment, or application pentest, checks your software for vulnerabilities that
              malicious hackers could exploit. Security bugs may allow cybercriminals to steal your customers'
              confidential data, abuse your application's business logic, commit financial fraud, or completely destroy
              your business.
            </p>
            <p>Check out your security posture and prevent security breaches.</p>
          </div>
        </div>
      </div>
      <div class="services__advantages-item body-text-1">
        <div class="advantages__item-icon">
          <img src="./public/images/icons/target.svg" alt="Source Code Review" />
        </div>
        <div class="advantages__item-info">
          <h4 class="heading-h4">Source Code Review</h4>
          <div class="advantages__info-subtitle">
            <p>
              Source code security review finds vulnerabilities that pentesters would otherwise miss. These obscure
              security bugs take much longer to find without access to the source code. The manual review of high-risk
              functionality adds efficiency to the security assessment.
            </p>
            <p>Get a complete and clear view of your application's attack surface.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="advantages_wrapper-button">
      <a href="#GetPrecizeQuote" class="button button_primary button_large">Get a Quote</a>
    </div>
  </div>
</section>
