<div class="services__info">
  <div class="container">
    <div class="services__info-wrapper sub-title">
      <p>
        All our application security assessments and penetration tests are conducted manually by experienced and
        certified penetration testers. Although we apply reasonable amounts of automation, we value human intelligence,
        expert intuition, and profound manual analysis over vulnerability scanners and source code parsers.
      </p>
      <p>Lower your business risks by preventing ransomware, data breaches, and service outages.</p>
    </div>
  </div>
</div>
