<div class="container">
  <section class="slider">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="slider__content">
          <h1 class="heading-h1 slider__content-title">Application Security Assessment</h1>
          <p class="sub-title">
            Let security experts find and remediate vulnerabilities in your web, mobile & cloud applications.
          </p>
          <div class="slider__content-button">
            <a href="#pricing" class="button button_primary button_large">Get Pricing</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row align-items-center justify-content-center">
          <img
            src="/public/images/services/pentest/img_service_pentest.svg"
            width="608"
            height="608"
            alt="Application Security Assessment"
          />
        </div>
      </div>
    </div>
  </section>
</div>
