<div class="container">
  <section class="slider">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="slider__content">
          <div class="slider__content-heading appsec-heading">
            <h1 class="heading-h1 slider__content-title">Application Security Assessment</h1>
          </div>
          <div class="slider__content-description">
            <p class="sub-title">
              Let security experts find and remediate vulnerabilities in your web, mobile & cloud applications.
            </p>
            <div class="slider__content-button">
              <a href="#pricing" class="button button_primary button_large">Get Pricing</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 tablet-hide">
        <div class="row align-items-center justify-content-center">
          <div class="slider__image slider__image_appsec">
            <img
              src="/public/images/services/appsec/img_service_appsec.svg"
              width="608"
              height="608"
              alt="Application Security Assessment"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
