<section class="list container_section">
  <h2 class="container container_title heading-h2">What Will You Get</h2>
  <div class="container container_content">
    <ul class="list__listing list__listing_checkboxes sub-title">
      <li>All critical security findings reported on-the-go</li>
      <li>The report with all findings after the appsec assessment is completed</li>
      <li>Clear recommendations on how to fix the vulnerabilities</li>
      <li>Vulnerability evidence, descriptions, and steps to reproduce</li>
      <li>One free retest during the 60 days grace period</li>
    </ul>
  </div>
</section>
