<section class="company-info">
  <div class="container">
    <div class="company-info__container">
      <div class="company-info__image">
        <img src="/public/images/services/pentest/company-logo.svg" width="120" height="122" alt="Berezha" />
      </div>
      <p class="company-info__content heading-h3">
        BSG helps companies prevent data breaches and ransomware attacks by eliminating security weaknesses in software,
        systems, and culture.
      </p>
    </div>
  </div>
</section>
