<section class="company-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="company-info__image">
          <!--#include file="/partials/svg-images/company-logo.svg" -->
        </div>
      </div>
      <div class="col-lg-10">
        <p class="company-info__content heading-h3">
          BSG helps companies prevent data breaches and ransomware attacks by eliminating security weaknesses in
          software, systems, and culture.
        </p>
      </div>
    </div>
  </div>
</section>
