<section class="cybersecurity-services container_section">
  <div class="container container_title">
    <h2 class="heading-h2">BSG Cybersecurity Services</h2>
  </div>
  <div class="container cybersecurity-services__container body-text-2">
    <div class="cybersecurity__item">
      <div class="cybersecurity__item-content">
        <h4 class="cybersecurity__item-title heading-h4">Application Security</h4>
        <div class="cybersecurity__item-image">
          <img src="/public/images/icons/bug.svg" width="30" height="37" alt="Application Security" />
        </div>
        <ul class="cybersecurity__item-list">
          <li>Find and eliminate high-risk security vulnerabilities</li>
          <li>Review software code for supply chain weaknesses</li>
          <li>Get an independent review of your security level</li>
          <li>Show your security awareness to clients and investors</li>
          <li>Conform to the partner security requirements</li>
        </ul>
        <div class="cybersecurity__item-footer">
          <a href="/application-security.html" class="button button_with-icon">
            Learn more
            <div class="button__icon-container">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="cybersecurity__item">
      <div class="cybersecurity__item-content">
        <h4 class="cybersecurity__item-title heading-h4">Penetration Testing</h4>
        <div class="cybersecurity__item-image">
          <img src="/public/images/icons/target.svg" width="40" height="40" alt="Penetration Testing" />
        </div>
        <ul class="cybersecurity__item-list">
          <li>Ensure compliance with PCI DSS and ISO270001</li>
          <li>Avoid ransomware and data theft by cybercriminals</li>
          <li>Test if your Work from Home strategy is secure</li>
          <li>Prevent data breaches and security incidents</li>
          <li>Demonstrate effective security investment</li>
        </ul>
        <div class="cybersecurity__item-footer">
          <a href="/penetration-testing.html" class="button button_with-icon">
            Learn more
            <div class="button__icon-container">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="cybersecurity__item">
      <div class="cybersecurity__item-content">
        <h4 class="cybersecurity__item-title heading-h4">Security Consulting</h4>
        <div class="cybersecurity__item-image">
          <img src="/public/images/icons/shield.svg" width="27" height="38" alt="Security Consulting" />
        </div>
        <ul class="cybersecurity__item-list">
          <li>Compliance with PCI DSS, ISO27001, SOC2, etc</li>
          <li>Investigate and remediate security incidents</li>
          <li>Assistance during the third-party security audits</li>
          <li>Lower cybersecurity insurance premium rates</li>
          <li>Optimized and improved maturity of your ISMS</li>
        </ul>
        <div class="cybersecurity__item-footer">
          <a href="/pentester-training.html" class="button button_with-icon">
            Learn more
            <div class="button__icon-container">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="cybersecurity__item">
      <div class="cybersecurity__item-content">
        <h4 class="cybersecurity__item-title heading-h4">Security Training</h4>
        <div class="cybersecurity__item-image">
          <img src="/public/images/icons/education.svg" width="42" height="38" alt="Security Training" />
        </div>
        <ul class="cybersecurity__item-list">
          <li>Train your development team to code securely</li>
          <li>Learn how to penetration test web applications</li>
          <li>Train your staff how to recognize cyberattacks</li>
          <li>Coach your top managers on strategic cybersecurity</li>
          <li>Leverage human intelligence to thwart cyber threats</li>
        </ul>
        <div class="cybersecurity__item-footer">
          <a href="/developer-training.html" class="button button_with-icon">
            Learn more
            <div class="button__icon-container">
              <i class="icon-arrow"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="cybersecurity__logo">
      <img src="/public/images/logo_round-blue.svg" width="192" height="192" alt="BSG Cybersecurity Services" />
    </div>
    <div class="cybersecurity__button">
      <a href="#GetPrecizeQuote" class="button button_primary button_large">Get a Precize Quote</a>
    </div>
  </div>
</section>
