<div class="container container_small">
  <div class="faq">
    <h2 class="heading-h2 faq__title">We`ve revealed Your Security Challenges</h2>
    <p class="sub-title faq__sub-title">Find the answers on the most popular questions below in FAQ section</p>
    <div class="faq__container">
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">How secure is your business?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>
            This course includes a real web application security exam at the end of the training, which lasts seven
            days. The pentester exam is a professional practice of obtaining competencies in a comprehensive laboratory
            environment. Practical training ensures you remember the content, and we provide you with the highest
            quality of service for your success in passing pentesting certification.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">What are the main cybersecurity challenges, business meets?</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>
            This course includes a real web application security exam at the end of the training, which lasts seven
            days. The pentester exam is a professional practice of obtaining competencies in a comprehensive laboratory
            environment. Practical training ensures you remember the content, and we provide you with the highest
            quality of service for your success in passing pentesting certification.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">Ransomware attacks</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>
            This course includes a real web application security exam at the end of the training, which lasts seven
            days. The pentester exam is a professional practice of obtaining competencies in a comprehensive laboratory
            environment. Practical training ensures you remember the content, and we provide you with the highest
            quality of service for your success in passing pentesting certification.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">IoT attacks.</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>
            This course includes a real web application security exam at the end of the training, which lasts seven
            days. The pentester exam is a professional practice of obtaining competencies in a comprehensive laboratory
            environment. Practical training ensures you remember the content, and we provide you with the highest
            quality of service for your success in passing pentesting certification.
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-title">
          <h4 class="body-text-1">Cloud attacks.</h4>
          <div class="faq__control">
            <span class="faq__control-item"></span>
            <span class="faq__control-item"></span>
          </div>
        </div>
        <div class="faq__item-description body-text-2">
          <p>
            This course includes a real web application security exam at the end of the training, which lasts seven
            days. The pentester exam is a professional practice of obtaining competencies in a comprehensive laboratory
            environment. Practical training ensures you remember the content, and we provide you with the highest
            quality of service for your success in passing pentesting certification.
          </p>
        </div>
      </div>
    </div>
    <div>
      <a href="#" class="button button_with-icon button_medium">
        Learn more
        <span class="button__icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
            <path
              d="M1 13L7 7L0.999999 1"
              stroke="#0048D4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </a>
    </div>
  </div>
</div>
