<section class="advantages container_section">
  <div class="container container_title">
    <h2 class="heading-h2">Industries</h2>
  </div>
  <div class="container">
    <div class="advantages__container advantages__container_three-columns body-text-2">
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">IT Product</h4>
        <div class="advantages__info-description">
          <p>Build more secure software, eliminate security vulnerabilities, and protect your customers' data.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">IT Services</h4>
        <div class="advantages__info-description">
          <p>Achieve compliance to standards, and protect your business from ransomware and cyberattacks.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">FinTech</h4>
        <div class="advantages__info-description">
          <p>Meet industry requirements and exhibit your security to clients, investors, partners, and regulators.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Banking</h4>
        <div class="advantages__info-description">
          <p>Protect funds, assets, customer data, image and reputation to ensure the partners’ and clients’ trust.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Financial Services</h4>
        <div class="advantages__info-description">
          <p>Meet national and industry regulatory requirements and achieve a secure and resilient level of service.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">e-Commerce</h4>
        <div class="advantages__info-description">
          <p>Protect customers’ personal data, prevent fraudulent transactions, service outages, and data breaches.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Healthcare</h4>
        <div class="advantages__info-description">
          <p>Meet the demands of applicable healthcare and PII regulations and protect sensitive medical records.</p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Telecom</h4>
        <div class="advantages__info-description">
          <p>
            Protect customers’ personally identifiable information, prevent fraudulent activity and hacking attacks.
          </p>
        </div>
      </div>
      <div class="advantages__item">
        <h4 class="advantages__item-title sub-title">Gaming</h4>
        <div class="advantages__info-description">
          <p>Prevent service disruptions and protect the business against service abuse, fraud, and term violations.</p>
        </div>
      </div>
    </div>
  </div>
</section>
