<section class="main-block">
  <div class="main-block__container">
    <div class="main-block__information">
      <h1 class="main-block__title heading-h1">Security threats are invisible, but not the outcomes</h1>
      <h4 class="main-block__subtitle heading-h4">
        Explore BSG cybersecurity offerings of Application Security & Penetration Testing
      </h4>
      <a href="#" class="button button_primary button_large"> Get a Precize Quote </a>
    </div>
    <div class="main-block__image">
      <div class="main-block__image-bg"></div>
      <div class="main-block__image-picture">
        <img src="public/images/home_main.svg" width="606" height="656" alt="Image" />
      </div>
    </div>
  </div>
</section>
