<div class="container">
  <div class="quote quote__without-bg">
    <div class="quote__content heading-h3">
      <p>
        Our goal is to become the best in the cybersecurity industry. To get there, we provide services of uncompromised
        quality, always innovate, build new knowledge, and work hard on improving the security profession.
      </p>
      <div class="quote__author-container">
        <div class="quote__author">
          <div class="quote__author-image">
            <img
              src="/public/images/team/Vlad-Styran.jpg"
              width="88"
              height="88"
              alt="Vlad Styran"
              title="Vlad Styran"
            />
          </div>
          <div class="quote__author-info body-text-1">
            <p>Vlad Styran</p>
            <p>Co-founder & CEO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
