<section class="slider-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-12 slider-main__column-desc">
        <div class="slider__content">
          <h1 class="heading-h1 slider__content-title">Defeating tomorrow’s security challenges – today</h1>
          <p class="heading-h4">
            Explore the BSG Application Security, Penetration Testing, Professional Training, and Cybersecurity
            Consulting services.
          </p>
          <div class="slider__content-button">
            <a href="#GetPrecizeQuote" class="button button_primary button_large">Get a Quote</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col-lg-4 col-sm-12">
        <div class="slider-main__image-container">
          <div class="slider-main__image">
            <img src="/public/images/home/main.svg" width="686" height="698" alt="Image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
