<div class="testimonials">
    <h2 class="heading-h2 container container_small testimonials-title">Testimonials</h2>
    <div class="testimonials__wrapper">
        <div class="testimonials__wrapper-item">
            <p class="testimonials__wrapper-text">They helped locate and resolve bugs in the client’s system, meeting the expectations of the internal team. Berezha Security collaborates effectively with the client. The team leverages its technical expertise to ensure a successful project.</p>
            <div class="testimonials__author-wrapper">
                <div class="testimonials__author-info">
                    <p class="testimonials__author-name">Serhii Kokhan</p>
                    <p>Senior Security Engineer, Conductor</p>
                </div>
            </div>
        </div>
        <div class="testimonials__wrapper-item">
            <p class="testimonials__wrapper-text">They did a good job and on output, we got reports with security-related issues missed by us. The reports thoroughly cover issues that stakeholders had previously missed. Their independent working style fostered a responsible work ethic.</p>
            <div class="testimonials__author-wrapper">
                <div class="testimonials__author-info">
                    <p class="testimonials__author-name">Dmytro Vdovychynskyi</p>
                    <p>Security Engineer, Preply</p>
                </div>
            </div>
        </div>
        <div class="testimonials__wrapper-item">
            <p class="testimonials__wrapper-text">Now, internal development teams are successfully implementing the skills they learned from Berezha Security. The specialists maintained an excellent communication style throughout the sessions.</p>
            <div class="testimonials__author-wrapper">
                <div class="testimonials__author-info">
                    <p class="testimonials__author-name">Nazarii Uniiat</p>
                    <p>Security Engineer, Clario Tech Limited</p>
                </div>
            </div>
        </div>
    </div>
</div>