<div class="container_section testimonials">
  <div class="container container_title">
    <h2 class="heading-h2">Testimonials</h2>
  </div>
  <div class="container" id="mobileSlider">
    <div class="mobile-slider__container">
      <div class="mobile-slider__content testimonials__wrapper body-text-1">
        <div class="testimonials__wrapper-item" data-slider-item>
          <div class="testimonials__wrapper-text">
            <p>
              A security assessment is very difficult to evaluate. However, we do have quite a bit of experience doing
              penetration tests with other companies, so I know what to expect out of these engagements. They performed
              so well that they're now set to return for a second project.
            </p>
          </div>
          <div class="testimonials__author-wrapper">
            <div class="testimonials__author-info caption">
              <p>Christian Buerger</p>
              <p>CEO, Auditi</p>
              <div class="testimonials__author-link">
                <a href="https://clutch.co/profile/berezha-security-group" rel="nofollow" target="_blank">
                  See review on <img src="/public/images/icons/clutch.svg" width="34" height="10" alt="clutch" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__wrapper-item" data-slider-item>
          <div class="testimonials__wrapper-text">
            <p>
              Berezha Security Group opened our eyes to a lot of things that we weren't even aware of. They came up with
              a summary of what they were able to achieve and the holes they found in our system in a report that
              covered our infrastructure and software. They pushed us into taking security a lot more seriously,
              encouraging us to create a security organization within the engineering department.
            </p>
          </div>
          <div class="testimonials__author-wrapper">
            <div class="testimonials__author-info caption">
              <p>Odafe Ojenikoh</p>
              <p>Software Engineering Manager, Unifonic Inc</p>
              <div class="testimonials__author-link">
                <a href="https://clutch.co/profile/berezha-security-group" rel="nofollow" target="_blank">
                  See review on <img src="/public/images/icons/clutch.svg" width="34" height="10" alt="clutch" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonials__wrapper-item" data-slider-item>
          <div class="testimonials__wrapper-text">
            <p>
              With the help of Berezha, we've diagnosed all pending issues on our production servers and closed 50%
              within the first week. We felt that Berezha firmly upheld their promises and delivered the test on time,
              on budget, and with excellent communications. We look forward to working with them more in the future.
            </p>
          </div>
          <div class="testimonials__author-wrapper">
            <div class="testimonials__author-info caption">
              <p>David Abrams</p>
              <p>Co-Founder & CEO, Demio</p>
              <div class="testimonials__author-link">
                <a href="https://clutch.co/profile/berezha-security-group" rel="nofollow" target="_blank">
                  See review on <img src="/public/images/icons/clutch.svg" width="34" height="10" alt="clutch" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-slider__pagination"></div>
    </div>
  </div>
</div>
