<section class="advantages container_section">
  <div class="container container_title">
    <h2 class="heading-h2">Why BSG?</h2>
  </div>
  <!--#include file="/partials/home/progress.html" -->
  <div class="container">
    <div data-toggle-block>
      <div class="advantages__container body-text-1">
        <div class="advantages__item" data-toggle-item>
          <div class="advantages__item-icon">
            <img
              src="./public/images/icons/advantages/advantage-compliance.svg"
              width="36"
              height="36"
              alt="Compliance to standards"
            />
          </div>
          <h4 class="advantages__item-title sub-title">Compliance to standards</h4>
          <div class="advantages__info-description">
            <p>
              ISO27001, SOC2, GDPR, PCI DSS, PSD2 <br />
              Our services conform to all applicable requirements.
            </p>
          </div>
        </div>
        <div class="advantages__item" data-toggle-item>
          <div class="advantages__item-icon">
            <img
              src="./public/images/icons/advantages/advantage-retest.svg"
              width="36"
              height="36"
              alt="Free retests during 60 days"
            />
          </div>
          <h4 class="advantages__item-title sub-title">Free retests during 60 days</h4>
          <div class="advantages__info-description">
            <p>
              All our penetration tests and security assessments are subject to a free retest of all initial findings.
            </p>
          </div>
        </div>
        <div class="advantages__item" data-toggle-item>
          <div class="advantages__item-icon">
            <img
              src="./public/images/icons/advantages/advantage-certified.svg"
              width="36"
              height="36"
              alt="Certified team"
            />
          </div>
          <h4 class="advantages__item-title sub-title">Certified team</h4>
          <div class="advantages__info-description">
            <p>
              OSCP, CISSP, CISA, eWPTX, eCPPT, eMAPT, CEH, eJPT
              <br />
              All projects are led by world-class certified experts.
            </p>
          </div>
        </div>
        <div class="advantages__item" data-toggle-item>
          <div class="advantages__item-icon">
            <img
              src="./public/images/icons/advantages/advantage-manual.svg"
              width="36"
              height="36"
              alt="Manual pentests"
            />
          </div>
          <h4 class="advantages__item-title sub-title">Manual pentests</h4>
          <div class="advantages__info-description">
            <p>We reasonably automate our tasks, but we do not entirely rely on vulnerability scanners in our work.</p>
          </div>
        </div>
        <div class="advantages__item" data-toggle-item>
          <div class="advantages__item-icon">
            <img
              src="./public/images/icons/advantages/advantage-discount.svg"
              width="36"
              height="36"
              alt="15% discount for recurring services"
            />
          </div>
          <h4 class="advantages__item-title sub-title">15% discount for recurring services</h4>
          <div class="advantages__info-description">
            <p>
              Discount applies to recurring pentests, appsec assessments, and training, starting from the second
              iteration.
            </p>
          </div>
        </div>
        <div class="advantages__item" data-toggle-item>
          <div class="advantages__item-icon">
            <img
              src="./public/images/icons/advantages/advantage-insurance.svg"
              width="36"
              height="36"
              alt="Professional insurance"
            />
          </div>
          <h4 class="advantages__item-title sub-title">Professional insurance</h4>
          <div class="advantages__info-description">
            <p>
              Protect your business against downtime. All our actions are covered by global professional liability
              insurance.
            </p>
          </div>
        </div>
      </div>
      <div class="advantages__button-container">
        <a href="#" class="advantages__button hide" data-toggle-button rel="nofollow">
          Discover more <i class="icon-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</section>
